[2019-06-27 09:57] yraen69 opened #540 "Staking issue - constant 2 NAV reward everyday"
Everyday I have the wallet open and start staking my NavCoin Core wallet stakes 2 NAV, no more, no less. Tried bootstraping the blockchain three times. Tried uninstall and reinstall, same deal.

v4.6.0.0-bb51359-dirty (64-bit)

Windows 10

![NAV_Stake_Error](https://user-images.githubusercontent.com/17959135/60256891-fa505b80-9904-11e9-9aa2-64afc4b072f3.PNG)

[2019-06-27 10:10] mxaddict commented on #540
Woah, that's alot of orphans.

Were you forked, then got back on the main chain?

[2019-06-27 10:13] mxaddict commented on #540
Also, depending on the amount of coins you have, you will stake less or more frequently.

Block reward is 2 NAV, so if you stake 1 block, that is normal.

You can check expected reward here: https://static-rewards.nav.community/

[2019-06-28 12:31] yraen69 commented on #540
Thanks I've done another wallet repair and bootstrap, things look a little better. Appreciate the reply here. Wasn't sure if it was just me or others were having the same problem. Couldn't see any existing issues like this here or on other help forums.

![NAV_Stake_Error_002](https://user-images.githubusercontent.com/17959135/60342320-c0a25200-99e3-11e9-8717-0f86af405ea8.PNG)

[2019-06-28 17:03] aguycalled opened #541 "Running out of version bits"
The nVersion field used to signal readiness for deployments has room for 32 different signaling bits. The CFund DAO extension will use the bit number 24 indicating we will run out of bits soon.

[2019-06-28 17:21] mxaddict commented on #541
Yes, time to update it?

[2019-06-29 02:33] #531 closed

[2019-06-29 08:02] mxaddict opened #542 "I see a stuck payment request on QT version of the wallet"
Payment Request: 8fcf35e0038f7c7e9d73371cd20c33ddad0e1b85067d1f3f496020a1e5e4d956

Shows on wallet with no voting options

![Screenshot from 2019-06-29 16-02-17](https://user-images.githubusercontent.com/1060905/60381424-4aefc200-9a87-11e9-848d-db61af135960.png)

[2019-06-30 11:32] aguycalled commented on #531
Paid d9de2e77b04020b79be19185943bf485da682b9bf598972bff0ee6db933fb13f

[2019-07-01 02:08] marcus290 opened #547 "Update gitianbuild docs for bionic"
Since ec6d86d, Gitian uses Ubuntu Bionic as the base virtual image instead of Trusty.

Need to update our docs for bionic instead of trusty.

Also might need to update the dependencies to create the bionic image. For example, I needed to follow [these steps](https://gist.github.com/laanwj/c62e101bfd68718f0686926dfd10666b) to add further dependencies to my debian host.

[2019-07-01 06:01] mxaddict commented on #547
@marcus290 yes, we need to update the docs, but we are no longer using LXC we instead use docker

It's much easier to setup and no longer needs a VM as long as you can run ruby + docker on host machine.

[2019-07-01 06:04] mxaddict commented on #547
Basically you do this:
[code]

[2019-07-01 06:08] mxaddict commented on #547
Using LXC required a VM to run LXC vm inside.

The new process using docker can be run from host machine, so much easier to setup and less overhead requirement on performance.

[2019-07-01 08:28] aguycalled opened #548 "Add a counter to the Community Fund button with count of pending votes"
The Community Fund button on the top bar menu should show a red badge with the number of elements (proposals, payment requests, etc) which are still waiting to be voted.

[2019-07-01 08:38] mxaddict commented on #548
If this is implemented, we can then remove the pop up? :+1:

[2019-07-01 15:51] mxaddict commented on #548
NOTE: Goku requested to have the button open the `Proposals` or `Payment Requests` section depending on which has an new entry with no vote

I also think if there are proposals and requests, it should open the section with more new (no vote)

[2019-07-01 16:17] aguycalled commented on #548
Instead of completely removing the popup, we could substitute it with a big red warning in the main tab

[2019-07-01 16:19] mxaddict commented on #548
But instead that was the red bubble + the number be for?

[2019-07-01 16:22] aguycalled opened #550 "Too long list of currency conversions"
![image](https://user-images.githubusercontent.com/24814046/60451690-ecfcdf00-9c2c-11e9-851b-e6275e42b546.png)
The send confirmation dialog shows a too long list of different currency conversions.
Is this really needed?

[2019-07-01 16:23] mxaddict commented on #550
Maybe limit it to NAV + the selected currency?

[2019-07-01 16:56] aguycalled commented on #548
Before the popup we had issues reaching enough quorum on the votings.
I'm afraid that just the red badge on the cfund button could be not enough to get the attention from the users.

[2019-07-01 17:11] mxaddict commented on #550
@aguycalled Does this look ok?

![Screenshot from 2019-07-02 01-10-17](https://user-images.githubusercontent.com/1060905/60454374-3fa6bd00-9c66-11e9-894e-25dfbd5d16c3.png)

NOTE: my selected currency in the wallet is "PHP" so it shows the value in BTC + Your selected display unit.

[2019-07-01 17:12] aguycalled commented on #550
Looks great if you ask me.

[2019-07-01 17:12] mxaddict commented on #550
Or should it be Total Amount XXX NAV
(=XXX BTC or XXX DISPLAY UNIT)

[2019-07-01 17:14] aguycalled commented on #550
mmm, what about

Total Amount XXX DISPLAY UNIT
(=XXX BTC or XXX NAV if DISPLAY UNIT != NAV)

[2019-07-01 17:14] mxaddict commented on #550
![Screenshot from 2019-07-02 01-13-55](https://user-images.githubusercontent.com/1060905/60454555-ae841600-9c66-11e9-9499-c6c064f98670.png)

[2019-07-01 17:14] mxaddict commented on #550
Ok, I like that idea

[2019-07-01 17:27] mxaddict commented on #550
Display unit: NAV
![Screenshot from 2019-07-02 01-25-03](https://user-images.githubusercontent.com/1060905/60455193-67972000-9c68-11e9-8386-4ce322969db9.png)

Display unit: BTC
![Screenshot from 2019-07-02 01-25-24](https://user-images.githubusercontent.com/1060905/60455204-6e259780-9c68-11e9-9fa6-f8d765a55620.png)

Display unit: PHP or Any other
![Screenshot from 2019-07-02 01-24-04](https://user

[2019-07-01 17:29] mxaddict commented on #548
Ok, what about a notice that was orange/yellow instead? red is a bit painful/ugly looking

I think we already have a notice like this color somewhere (I've seen it) I can't remember what is what for.

[2019-07-01 17:30] mxaddict commented on #548
It was basically an orange/yellow notice bellow the main menu buttons

[2019-07-01 17:31] mxaddict commented on #548
This one:
![Screenshot from 2019-07-02 01-30-53](https://user-images.githubusercontent.com/1060905/60455487-120f4300-9c69-11e9-8745-3d1c43f94cdc.png)

[2019-07-01 17:36] aguycalled commented on #548
I think in this case the warning should be a bit more "annoying" in terms of users really wanting to make it disappear.

[2019-07-01 17:39] mxaddict commented on #548
Good point, so same style, but RED background instead?

[2019-07-01 18:43] mxaddict commented on #540
Closing, I think this is resolved @yraen69

[2019-07-01 18:43] #540 closed

[2019-07-01 18:43] mxaddict commented on #542
@aguycalled have you seen this happen before?

[2019-07-01 18:44] aguycalled commented on #542
No, but I'm not a GUI user.

[2019-07-01 18:45] mxaddict commented on #542
ACK, I have it happening on my laptop, but not on my desktop at home.

I can't replicate it on my main machine.

[2019-07-01 18:48] aguycalled commented on #542
![image](https://user-images.githubusercontent.com/24814046/60459485-9e0d7480-9c41-11e9-879f-9b63ca4b21c0.png)

This is what I see.

[2019-07-02 09:28] mxaddict opened #552 "Icon's inconsistent on navcoin-core"
Icons on left are BTC icons on right are OURs:
![Screenshot from 2019-07-02 17-26-44](https://user-images.githubusercontent.com/1060905/60501472-aff92100-9cee-11e9-9284-247287d892e3.png)

It seems that our icons are inconsistent in theme/design

I like how BTC's icons are consistent, do you guys think it's worth the work to make these consistent for our project?

[2019-07-02 09:39] aguycalled commented on #552
I'll asign a bounty to this.

[2019-07-02 09:40] mxaddict commented on #552
That escalated quickly :+1:

Do we have any designer/graphics people that we can have look at this?

[2019-07-02 10:02] mxaddict commented on #552
I think we should make all the icons black and consistent theme

The colors of the icons are done via code anyway (They don't actually use the color, they seem to be used as shapes/outlines then filled in with the color via QT code)

[2019-07-02 10:06] mxaddict commented on #552
IE, most of the good looking icons are bold/heavy looking, and some of the other icons like the https://github.com/navcoin/navcoin-core/blob/65ad4eb3f6835f840eeed8acd73737bac1f1c55f/src/qt/res/icons/quit.png is skinny/light looking compared to the other icons in the set.

[2019-07-02 11:02] onlyoneAdam commented on #552
Hi! This is something that I can do. Can I get it assigned?

[2019-07-02 11:05] aguycalled commented on #552
Assigned, please read the reddit thread with the bounty program rules :)

[2019-07-02 11:14] mxaddict commented on #552
@onlyoneAdam nice!

[2019-07-07 17:37] mxaddict commented on #552
@onlyoneAdam are you working on this?

BTW, I've created a PR with SVG support for the wallet, can you make the new icons `SVG` files and place them in the `src/qt/res/icons/vector`

You can check out the `SVG` icons I've created here: https://github.com/navcoin/navcoin-core/tree/ecc01cc7ed859e8e7f97f04b78d392701ff9662f/src/qt/res/icons/vector

[2019-07-07 17:39] mxaddict commented on #552
Those SVGs are single color and are in `256x256` canvas with `10` padding on `top right bottom left`

Maybe we should standardize that spec for new icons/graphics.

[2019-07-07 17:39] mxaddict commented on #552
@aguycalled what do you think?

[2019-07-07 18:31] onlyoneAdam commented on #552
Hey, yes, im working on it. It sounds perfect, I’ll follow those guidelines.

Sent from my iPhone

[2019-07-07 18:35] mxaddict commented on #552
Nice, Also, just keep the svg saved as optimized svg with black/#000000 fill (The code can change the icon colors when rendered in the wallet)

[2019-07-09 20:01] onlyoneAdam commented on #552
Hey, one thing. Even the red and green icons (the arrows) should be save with black fill?

[2019-07-09 20:51] mxaddict commented on #552
Yes, we can color them via code.

[2019-07-10 18:18] onlyoneAdam commented on #552
Other question. there is the same icon for "file save" and "receive". Should I keep it like this or better check for the appropriated one?

[2019-07-10 18:26] mxaddict commented on #552
I think make a new icon for `save` maybe a diskette icon

[2019-07-10 18:46] aguycalled commented on #552
i like the diskette idea for `save`

[2019-07-10 20:36] mxaddict commented on #552
@onlyoneAdam I see you've created your fork, no need to base it off my branch, you can just base your changes off of [master](../tree/master)

[2019-07-10 21:09] mxaddict commented on #552
BTW @onlyoneAdam maybe join discord server if you have not already? https://discord.gg/WNxmRMZ

[2019-07-10 21:27] onlyoneAdam commented on #552
sure, ill join now ;)

[2019-07-10 21:53] #552 closed

[2019-07-11 18:08] aguycalled commented on #529
I'm working on this as part of https://github.com/navcoin/navcoin-core/pull/530

[2019-07-11 21:14] mxaddict opened #563 "Integrate the new ICONs in `src/qt/res/icons/vector` into the wallet"
Integrate the new ICONs in `src/qt/res/icons/vector` into the wallet.

[2019-07-13 20:33] mxaddict commented on #563
Implemented in #557

[2019-07-14 19:00] mxaddict commented on #542
I can no longer replicate this, so I'll just close it for now.

[2019-07-14 19:00] #542 closed

[2019-07-14 19:01] mxaddict commented on #521
@proletesseract this should now be solved with PR #557

[2019-07-15 15:23] mxaddict commented on #379
Closing as PR was already merged

[2019-07-15 15:23] #379 closed

[2019-07-15 15:25] mxaddict commented on #478
I think this is No longer applicable as of the new #530 PR

[2019-07-15 15:25] #478 closed

[2019-07-15 15:25] mxaddict commented on #468
PR for this was already merged

[2019-07-15 15:25] #468 closed

[2019-07-15 15:28] mxaddict commented on #315
@sherlockcoin you have a new PR for this?

[2019-07-15 15:32] mxaddict commented on #223
Closing as this is a duplicate of #252

[2019-07-15 15:32] #223 closed

[2019-07-15 16:10] aguycalled opened #567 "SVG version of the logo"
After the last changes in the wallet design, the NAV logo used in the top left corner does not completely match the new aesthetic.

A new SVG version should be created with the new vibe. Removing the background shadow and/or retouching the color gradients can be possible ideas in that direction.

<img width="1010" alt="image" src="https://user-images.githubusercontent.com/24814046/61230824-2654450

[2019-07-15 16:10] aguycalled commented on #567
Is this something you could have a look at @onlyoneAdam ?

[2019-07-15 16:11] mxaddict commented on #567
Also if possible, maybe a new vector version of this icon as well:
![navcoin](https://user-images.githubusercontent.com/1060905/61231217-481aef80-a75e-11e9-9e40-af958282cf4d.png)

[2019-07-15 17:27] onlyoneAdam commented on #567
Hey!
Sure, I can do that @aguycalled. Do you need any specific size?
@mxaddict do you mean a new design or just having it as a vector file?

[2019-07-15 17:28] aguycalled opened #568 "Sockets close randomly"
Sockets are randomly closed when requesting blocks.

This can be easily seen when connected to only one peer with `-connect=node -debug` and trying to synchronise from scratch.

[code]

[2019-07-15 17:29] mxaddict commented on #567
If you have an idea for a better logo, why not! ❤️

[2019-07-15 17:31] mxaddict commented on #567
I think for size it's your call since these are unique files and don't need to fit the the sizes of icons.

I guess the launcher icon just needs to be a square.

:+1:

[2019-07-15 18:05] onlyoneAdam commented on #567
all right! Ill do my best :)

[2019-07-15 21:34] proletesseract opened #569 "Daemon wont completely shutdown"
Version: Running commit 2b13cc9 of the 4.7.0 RC (https://github.com/navcoin/navcoin-core/pull/545) built locally using the depends folder.

OS: Mac OSX 10.14.5

Steps;

- start navcoind; run `./src/navcoind &`
- wait for it to load
- when the application is fully loaded and the rpc server is available try to shut down the daemon using the cli; run `./src/navcoin-cli stop`

Result;

- the rpc serve

[2019-07-16 06:36] mxaddict commented on #569
Can this behavior be replicated via the gitian built binary?

[2019-07-16 17:48] mxaddict opened #570 "current master/v4.7.0 version crashes in windows"
Seems to be related to the new currencies that were added.

Investigating the issue

[2019-07-16 18:17] mxaddict commented on #570
I've treid debugging the wallet with `gdb`

But all I get is this:
[code]

[2019-07-16 18:17] mxaddict commented on #570
@aguycalled @proletesseract you guys have any ideas on how to debug this on windows? I'm not used to debugging on windows, maybe you have a suggestion.

[2019-07-16 18:22] aguycalled commented on #570
No idea, been years I don't smell a windows

[2019-07-16 18:25] mxaddict commented on #570
I've still been using it, but only for gaming :smile:

[2019-07-16 18:25] mxaddict commented on #570
I'm lost trying to debug :rofl:

[2019-07-16 18:30] mxaddict commented on #570
I think I found it:
[code]

[2019-07-16 18:31] mxaddict commented on #570
Looks like the cause is this:

1. Open wallet
2. Wallet loads
3. Wallet tries to load Price data
4. Price data is not loaded for some reason(Could be a slow connection, and the API request does not get the prices)
5. You select a currency that does not have price data
6. Wallet crashes

I'll make a patch now and PR to master

[2019-07-16 18:36] mxaddict commented on #570
[code]

Looks like this line is causing a division by 0 cause the factor is zero

[2019-07-16 20:11] proletesseract commented on #569
not sure, i can try

[2019-07-16 20:18] proletesseract opened #572 "CLI stuck at "Loading banlist...""
Running Gitian built 4.6.0 on Debian 9.

navcoin.conf

[code]

I bootstrapped the `blocks` and `chainstate` folder from my local data directory on OSX running self build 4.7.0 with the same config as debian. Removing the `data` and `chainstate` folders and starting the daemon works as expected.

1. start the daemon `./navcoind &`
2. query the cli `./navcoin-cli getinfo`

after the `Rewinding Block

[2019-07-16 20:23] mxaddict commented on #572
I'm guessing this is not related to #569

[2019-07-16 21:19] proletesseract commented on #572
not as far as i can tell.

[2019-07-16 23:56] mxaddict commented on #569
After some digging I found 2 PRs on bitcoin upstream that I think if we ported into navcoin would do some good:
https://github.com/bitcoin/bitcoin/pull/9289
https://github.com/bitcoin/bitcoin/pull/9441

Basically those PRs refactor the net.cpp and net.h code to be more efficient and from I've read, they also eliminate the thread issue you reported in this PR

But the amount of code changes require

[2019-07-16 23:59] mxaddict commented on #569
Basically this issue seems to have been cause by a peer that was not yet properly handled by `src/net.*` code and caused a deadlock

[2019-07-17 00:01] mxaddict commented on #569
Since I could not replicate this on my nodes (I could shut them down gracefully) this must only happen under certain conditions,

IE only when a peer is trying to connect and shutdown is called on the node via `stop` command

[2019-07-17 18:48] mxaddict opened #573 "Backport changes from upstream net code (p2p)"
backport these PRs from upstream:
bitcoin/bitcoin#9289
bitcoin/bitcoin#9441

Similar to what dashpay has done here:
dashpay/dash#1586

[2019-07-17 18:52] mxaddict commented on #573
I'll be adding more PRs from upstream to the list once I find them, still looking at what prerequired PRs we need to have bitcoin/bitcoin#9289 and bitcoin/bitcoin#9441 work (Since we are a far bit behind upstream)

We are still based mostly on 0.13 and upstream is now 0.18

[2019-07-17 18:54] mxaddict commented on #573
These changes will also require changes from #566, #554, #525 and #509

[2019-07-17 18:55] mxaddict commented on #573
Once these changes are ported over, issue #568 and #569 should be resolved

[2019-07-18 15:10] mxaddict opened #574 "Add staking address whitelist for nodes"
This feature is so that people can't stake using one of your addresses (Basically leaching)

Will need a list of `allowed` spending addresses that your staking wallet will use.

[2019-07-19 09:44] aguycalled commented on #567
Paid 51edeca2285bb747a5245018aef9ebf330469644f8bfbac1d961d870a96f3ab9

[2019-07-19 09:44] #567 closed

[2019-07-19 12:36] yraen69 opened #576 "Simple graphical bug in UI - Community Fund"
See attached, Windows 10 latest NavCoin Core. Just basic graphical bugs where the text for buttons doesn't fit in the allocated space. Should be trivial to fix?

Basically missing the P in Payment Request and the first C in Create Payment Request along with the last T.

![UI_Bug_001](https://user-images.githubusercontent.com/17959135/61535409-c9c39380-aa64-11e9-9b31-f498cda17c50.PNG)

[2019-07-19 12:58] aguycalled commented on #576
thanks for reporting, this part of the ui is already being reworked.

[2019-07-19 12:58] #576 closed

[2019-07-21 07:40] #570 closed

[2019-07-26 02:36] mxaddict commented on #252
It was not related to that issue

[2019-07-28 04:52] #550 closed

[2019-07-31 13:45] aguycalled commented on #541
When the DAO extension is active, deployments can be toggled using Consensus Consultations where the value type is a bool.

[2019-07-31 13:45] #541 closed

[2019-08-05 08:47] proletesseract opened #580 "Test Project Card"
Don't delete, testing the GitHub Projects API

Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida augue ut consectetur vestibulum. Nam volutpat aliquam ligula, vel faucibus purus semper a. In at nisl lacus.

[2019-08-05 08:47] mxaddict commented on #580
Ack

On Mon, Aug 5, 2019, 16:47 Craig M. <notifications@github.com> wrote:

[2019-08-06 21:19] mxaddict opened #581 "Wallet Crash when importing a wallet.dat with an existing blockchain"
Wallet crashes when I copy an old `wallet.dat` file into `datadir`

Crashes on rescan

Backtrace:
[code]

DEBUG LOG:
[code]

[2019-08-06 21:35] mxaddict commented on #581
Found the issue, created a PR #582

[2019-08-08 10:21] danirabbani90 commented on #496
I have the similar issue enabling coin control but my Qt wallet is not fixed although it runs fine in root but in the user its not fixed can anyone help me out please ?

[2019-08-08 10:38] mxaddict commented on #496
Sounds like a permission issue.

Is your datadir in /root or in /home/user?

On Thu, Aug 8, 2019, 18:21 Danish Rabbani <notifications@github.com> wrote:

[2019-08-08 16:47] go140point6 commented on #496
Yes, that does sound permission based.

My original segmentation fault issue was 100% hardware problem on my end.  I moved my wallet to a cloud VPS for a few weeks as a test and zero problems.  I moved back locally to new hardware (Pi 4!) and haven't had a single issue (running Nav and two other PoS wallets at the same time).

[2019-08-08 20:18] danirabbani90 commented on #496
Hi my data dir is in /home/user but the segmentation fault still presists in the debug log it says Gui insert action??  Does anyone know how to fix

[2019-08-09 09:31] R-Marino commented on #574
Hi!,
I'm not sure I understand what you mean.
If I can ask, could you elaborate a little more?

There may be solutions that do not require new code, but only a different use of what already exists.

[2019-08-09 13:24] forkocean-com opened #583 "Transaction not in index?"
Hi! Get raw transaction trouble...

$ navcoind --version
NavCoin Core Daemon version v4.6.0.0-bb51359-dirty

$ navcoin-cli getblockhash 3365419
7a0373c1234d1c7d3343478c3b10dd060856ce3324039285ee23fc8cd9895bcd

$ navcoin-cli getblock 7a0373c1234d1c7d3343478c3b10dd060856ce3324039285ee23fc8cd9895bcd
{
...skip...
  "height": 3365419,
...skip...
  "tx": [
...skip...
    "**ba710792ca8e3590e7c9a9714ea9f

[2019-08-09 16:21] chasingkirkjufell opened #584 "Implement a GUI for re-directing stakes"
Having the ease of use for re-directing stakes could encourage more donations for development and DAO.

[2019-08-11 20:59] #581 closed

[2019-08-17 08:52] R-Marino opened #585 "Parameter "-mininputvalue" have no effect"
Experimenting with the parameters of the wallet, I realised that the "-mininputvalue" parameter has no real effect.

This is not a parameter that relates to the consensus, and the lack of effect does not involve the general safety. It is only a minor defect.

This parameter was added about a year ago, it could be used to select coins for the stake only if they are higher than a certain value, but

[2019-08-17 18:25] aguycalled commented on #585
Assigned bounty

[2019-08-19 23:38] proletesseract commented on #521
reopening to fix directly

[2019-08-21 04:33] #521 closed

[2019-08-21 05:08] mxaddict commented on #521
Nice!

[2019-08-23 17:25] R-Marino commented on #585
I just created the private commit, for a preliminary review.

https://github.com/R-Marino/navcoin-core/commit/fcfea9c99266aec5fab59b0224662a8673963f19

A short notification:
to check the singleline fix, the python test was quite long, about 170 lines, uses from a minimum of 2 to 4 nodes, and to be executed takes between 200 and 270 seconds.
A little exaggerated? ;-)

I imagine that because of this

[2019-08-23 19:47] aguycalled commented on #585
@R-Marino I'd invite you to create a pull request with your suggested fix. that way you can also earn the assigned bounty once the pr is reviewed and the change merged.

[2019-08-27 09:00] #585 closed

[2019-08-27 13:30] magpie17 opened #594 "Most currencies in the drop down menu aren't working"
### Description
In the 4.7.0 release candidate (tested on OSX) only the original currencies of NAV, BTC, EUR and USD populate correctly. The other currencies beginning from ARS all show 0.00000 amounts in Balances, Staking and Transactions.

### Motivation
Having the above fields populated with the proper amounts gives users more confidence that the wallet is working correctly.

![Screenshot at Au

[2019-08-27 13:46] magpie17 opened #595 "NAV icon used for OSX looks blurry"
### Description
When the navcoin-core wallet is running in the 4.7.0 release candidate the NAV icon that sits in the dock of a Mac computer or laptop is very blurry.

![nav-icon](https://user-images.githubusercontent.com/50758798/63776375-a114a080-c924-11e9-930e-487e5f8b35ce.png)

### Motivation
A high-resolution icon adds to the professionalism of the product being supplied, in this case the navc

[2019-08-29 05:05] mxaddict commented on #594
@magpie17 this sometimes happens when a price query to the API does not successfully return the values.

It should fix itself once the prices are updated (Once every 5 minutes)

[2019-08-29 06:53] magpie17 commented on #594
@mxaddict just for added detail, I have clicked on "Update exchange prices" and also quit the navcoin-core wallet and restarted and I still see the same issue with all currencies other than the first 5 in the drop down menu returning 0 values. This hasn't changed (for me) in the 2 days since logging this issue.

[2019-08-29 09:01] mxaddict commented on #594
I see, are you running on OSX not windows? Cause we had a similar issue to this on windows, but worked fine on OSX and LINUX

[2019-08-29 09:05] mxaddict commented on #594
If possible, can you copy the error log? You should be able to access it from: `Help->Debug Window->Error Log`

[2019-08-29 10:51] magpie17 commented on #594
Yes I am running this on OSX (version 10.13.6 High Sierra on a Mac Mini Late 2012 just in case the hardware setup is a factor). The Error log is spitting out these error messages every 5 minutes: 2019-08-29 10:15:17 ERROR: Could not parse price data json 'boost::property_tree::json_parser::json_parser_error'
2019-08-29 10:20:22 ERROR: Could not parse price data json 'boost::property_tree::json_par

[2019-08-29 14:21] chasingkirkjufell opened #597 "Make function -stakingaddress compatible with coldstaking"
Current function -stakingaddress as I understand it is not compatible with coldstaking. This could prevent some serious holders from donating their stakes.

[2019-08-29 14:23] aguycalled commented on #597
this is solved with https://github.com/navcoin/navcoin-core/pull/523 (v4.7.0)

[2019-08-29 14:23] #597 closed

[2019-08-29 19:22] mxaddict opened #598 "Error Log is empty on debug window, but error.log file is not empty"
![Capture](https://user-images.githubusercontent.com/1060905/63969825-4f5f4800-cad5-11e9-9732-a5c38a6bc02f.PNG)

[2019-08-29 19:27] aguycalled commented on #595
shows fine for me
<img width="192" alt="image" src="https://user-images.githubusercontent.com/24814046/63970139-b401af00-caa3-11e9-87c2-d7cc22b26d3e.png">
macos mojave 10.14.4 (18E227)

[2019-08-29 19:29] mxaddict commented on #594
Thanks, they look like the same issue that the windows builds had.

[2019-08-29 19:30] aguycalled commented on #594
@magpie17 could you please provide an address to receive a bounty for reporting this issue?

[2019-08-29 19:35] mxaddict commented on #595
I've seen this issue on 10.13 before, might not be present on 10.14 or newer.

Seems the icon loads the icns first, then once the wallet boots, it switches to the icon stored in the navcoin-qt binary (I've not found a way to override this behavior yet)

[2019-08-29 19:35] aguycalled commented on #594
i can't see the issue on macos 14.14.4 devnet
<img width="240" alt="image" src="https://user-images.githubusercontent.com/24814046/63970587-d5af6600-caa4-11e9-86cb-5495f6d6924f.png">
<img width="220" alt="image" src="https://user-images.githubusercontent.com/24814046/63970596-da741a00-caa4-11e9-9555-0e6b1a5dbb19.png">
<img width="214" alt="image" src="https://user-images.githubusercontent.com/2481

[2019-08-30 01:22] magpie17 commented on #594
@aguycalled Thanks, you can send it to NZB1D88gReSbVWp54JZEqCiQS78unCQTcz

[2019-08-30 15:52] aguycalled commented on #585
This issue is pending payment. @R-Marino could you indicate an address to receive it?

[2019-08-30 16:02] aguycalled commented on #594
Paid eaa557c6c929d47dd66c0152f9f4c0481cb412583ae8ef14b54789ade899a15c

[2019-08-30 20:32] aguycalled opened #599 "Allow accumulation of the cold staking reward in different addresses."
Currently the arguments `-poolfee` and `-pooladdress` can be used to define a cold staking address `pooladdress` where a `poolfee` percentage of the stake rewards are accumulated. Needs to be changed to allow different pairs of addresses and percentages. The changes are only on the client side, those are already scheduled to be enabled in the consensus protocol. When the sum of the percentages fro

[2019-08-31 18:25] aguycalled opened #600 "Add full encryption support for the wallet db"
Currently only the private keys are obfuscated when a wallet is encrypted. Adding full encryption support for the whole wallet db (unlocking it on startup) would add privacy in regards to the transaction history and other parameters to be stored in the wallet.db when the new privacy kicks in.

- [x] Encryption of the full contents wallet DB
- [x] Unlock at launch using the GUI
- [x] Unlock at laun

[2019-09-08 01:44] mxaddict commented on #594
@magpie17  @aguycalled  I was able to replicate this issue on OSX 10.14 as well as Windows 10 64 bit

And have created a patch for the issue in #601

[2019-09-08 09:07] magpie17 commented on #594
tested the new build that @mxaddict created to fix this but I'm seeing the same behaviour and same error messages:

![Screenshot at Sep 08 18-55-29](https://user-images.githubusercontent.com/50758798/64486062-caf68d00-d26b-11e9-9198-db9bd50de11d.png)

2019-09-08 08:49:02 ERROR: Could not parse price data json 'boost::property_tree::json_parser::json_parser_error'
2019-09-08 08:54:02 ERROR: Could n

[2019-09-09 17:35] chasingkirkjufell commented on #574
I think he meant that in current cold-staking setup, you will have a node running the staking wallet to stake for the spending wallet. But if someone sees your staking address, they can also create a cold-staking address using your staking address and their own spending address. Once they did that, you are basically staking for them for free.

[2019-10-11 09:01] yraen69 opened #610 "Issues syncing headers in NavCoin 4.7 core wallet - Win10"
Issues syncing blocks in NavCoin 4.7 core wallet. I've left this now for days, since the 3rd of October. Restarting computer doesn't help either. Win10.

Tried a wallet repair no dice.

Downloading the block chain bootstrap file now to try a manual bootstrap (that option is missing under File --> Bootstrap in 4.7).

Wallet sits on this screen, the highlighted block thing changes every now and then

[2019-10-11 09:23] yraen69 commented on #610
![Sync_Issue_002](https://user-images.githubusercontent.com/17959135/66640535-bed76400-ec4b-11e9-8b09-b56b372bdf7e.PNG)

I've done the manual bootstrap thing (should I open another issue for the fact that has gone missing from the File menu in this 4.7 wallet?). It is downloading stuff... no longer spamming logs with that timestamp too far in the future message.

Will leave it for the next hour or

[2019-10-11 09:39] aguycalled commented on #610
what is your best block hash?

[2019-10-11 09:54] mxaddict commented on #610
Timestamps too far in the future I think is cause by wrong system time. But
the wallet should have used NTP sync.

So I'm not sure what could have happened with that.

On Fri, Oct 11, 2019, 17:39 alex v. <notifications@github.com> wrote:

[2019-10-11 09:56] aguycalled commented on #610
I would look in the log for reasons for rejecting the header/block next to his tip.

[2019-10-11 10:03] mxaddict commented on #610
Can you upload the debug.log? Or email it to alex?

Also, no you don't need to report the missing bootstrap menu, that was
removed to encourage full syncs.

On Fri, Oct 11, 2019, 17:56 alex v. <notifications@github.com> wrote:

[2019-10-11 10:03] yraen69 commented on #610
Thanks for the replies, the manual bootstrap seems to have fixed it. Very odd.

I did think about system time but that's spot on, synced already. Can close, I guess anyone else with the issue just needs to follow the manual bootstrap process here:

https://info.navcoin.org/navcoin-core/bootstrap-your-wallet/

[2019-10-11 20:51] #594 closed

[2019-10-15 18:06] #508 closed

[2019-10-17 18:23] #503 closed

[2019-10-17 21:23] #598 closed

[2019-10-22 18:17] mxaddict opened #613 "Can't remove the first entry in staking destination addresses GUI"
Can't remove the first entry in staking destination addresses GUI

![Screenshot from 2019-10-23 02-14-37](https://user-images.githubusercontent.com/1060905/67316438-0064ea80-f53b-11e9-9d20-0794cbf22666.png)

# Steps to replicate

* Add multiple staking destination addresses via the GUI
* Save the settings
* Re-open the staking destination GUI pop up
* Try to remove all the destination addresses

#

[2019-10-22 18:26] chasingkirkjufell commented on #613
Tested and I think it's not that the first entry cannot be removed, it's that the community fund entry cannot be removed. Other entries seem to work fine.

[2019-10-22 18:38] mxaddict commented on #613
Yes, upon further investigation in the code, any NAMED address (The addresses that have a human readable name) could not be removed.

I've created a PR that fixes this.

[2019-10-22 21:38] #613 closed

[2019-10-23 15:35] #518 closed

[2019-10-25 14:33] chasingkirkjufell opened #619 "Tests for PR #530"
This is a work in progress.

Tests:
- [x] General checks [#25](https://github.com/navcoin/navcoin-core/pull/530#issuecomment-539555670)
- [x] Overall QT visual check [#8](https://github.com/navcoin/navcoin-core/pull/530#issuecomment-537525684) [#18](https://github.com/navcoin/navcoin-core/pull/530#issuecomment-539211514) [#20](https://github.com/navcoin/navcoin-core/pull/530#issuecomment-539211514

[2019-10-28 23:39] Xa5r opened #621 "Replace Master Private Key with Mnemonic"
I think it would be better if instead showing the Master Private Key, would show the Mnemonic.
dumpmnemonic=""

[2019-11-05 04:40] rocket-pig commented on #499
...5 months later, the wallet.dat with these vanitygen addresses essentially became unusable.  Would crash any navcoind i used it with. I tried three different versions of wallet, 4.6 4.7 and 4.7.1. It couldn't even complete a full sync to begin with.  Bootstrapping would work for a while and then something would get corrupted somehow.  I eventually jumped ship by doing yet another bootstrap and s

[2019-11-05 05:06] mxaddict commented on #499
If possible, since you've already cleared the coins out, could you give us
a copy of the bad wallet.dat (make sure it's empty ofcourse)

So we can try and debug it.

On Tue, Nov 5, 2019, 12:40 rocket-pig <notifications@github.com> wrote:

[2019-11-15 22:59] proletesseract opened #626 "Setup New Testnet"
Setup a new NavCoin Testnet for Stress Testing.

Ensure we have wide range of different nodes running on the new testnet. Nodes should differ on;

- Geographic Location
- Hardware Specifications
- Operating System
- Self Compiled vs Gitian Built

Post your node details in the comments below to get added to the list and an address to receive some testnet coins.

### Latest Builds

The latest Gitian

[2019-11-15 23:01] mxaddict commented on #626
Agreed, can you or @aguycalled create the initial node? And share the ip?

On Sat, Nov 16, 2019, 06:59 Craig M. <notifications@github.com> wrote:

[2019-11-15 23:02] aguycalled commented on #626
Yes, I'm on it

[2019-11-15 23:04] proletesseract opened #627 "Test Sync Scenarios"
Ensure the latest version of NavCoin Core can always successfully sync from the genesis block.

Types of tests;

- Manual User Testing across a variety of node configurations.
- Review and add to python tests
- Review and add to functional tests

Latest master; https://build.nav.community/binaries/master/

[2019-11-15 23:09] aguycalled commented on #627
- Syncing from scratch with
- [ ] All indexes on `txindex=1 addressindex=1 spentindex=1`
- [ ] Only `txindex=1`
- [ ] No indexes.
- Syncing with bootstrap

Both gitian builds for mac, unix and widnows and self-compiled in Ubuntu 18, Ubuntu 19.10 and OSX.

[2019-11-15 23:24] aguycalled commented on #626
https://github.com/navcoin/navcoin-core/pull/628 has been merged.

[2019-11-15 23:27] aguycalled commented on #626
Testnet node 1

[code]

[2019-11-15 23:32] aguycalled commented on #627
Hackintosh with Catalina OSX.
No indexes.
Ryzen 3900x, 64GB RAM CL16 DDR4-3600, 1TB NVMe SSD
Successful sync from scratch in 4h 30.

[2019-11-15 23:44] aguycalled commented on #626
Testnet node 2

[code]

[2019-11-15 23:52] proletesseract commented on #626
Mine is still compiling but the details are;
[code]

[2019-11-16 03:00] roast-nav commented on #626
I need some detailed instructions to set up test net pls.

[2019-11-16 03:12] proletesseract commented on #626
@roast-nav all you really need to do is run navcoin with this config and it will launch on the testnet and connect to our nodes

[code]

just replace `<username>` and `<password>` with your own RPC username and password if you want to run the RPC server.

At this stage you'll need to either compile your own daemon from the latest master, or you can wait until our Gitian builds finish running and I

[2019-11-16 03:25] roast-nav commented on #626
Thanks @proletesseract . I'll wait for the Gitians to finish and use your binaries.

[2019-11-16 04:50] proletesseract commented on #626
Testnet node 2 details are;
[code]

navcoin.conf
[code]

[2019-11-16 05:03] proletesseract commented on #626
once we have a good list of nodes, we should perhaps commit a testnet readme including this list into the repo

[2019-11-16 05:24] sakdeniz commented on #626
IP: 185.22.187.97
-testnet -debug -staking=1
Ubuntu 18.04.3 LTS
Used binary from https://build.nav.community/binaries/master/
8 vCpu
16 GB RAM
100 GB SSD
Location: Istanbul, Turkey

[2019-11-16 06:14] roast-nav commented on #626
server=1
testnet=1
debug=1
staking=1
addnode=95.216.214.68
addnode=78.47.190.215
addnode=157.230.157.163
addnode=115.188.131.209
addnode=185.22.187.97

Ubuntu 18.04.3 LTS
https://github.com/navcoin/navcoin-core compiled my own.
intel core i7-2600k CPU @ 3.40GHz x 8
8 GB RAM
100 GB SSD
Location: Perth Western Australia
IP: 49.196.21.17
address for test coins : mjQLGRYfdiMtvp2gPEW3XxZMMeDKpXwXWL

[2019-11-16 06:19] proletesseract commented on #627
Syncing from genesis with;

- [ ] Default config (no indexes)

OSX 10.14.5 Mojave
3.1 GHz Intel i7 with 4 Cores
16 GB RAM
Gitian build of release tag 4.7.1

[2019-11-16 07:56] proletesseract commented on #626
Testnet node 3 details are;
[code]

navcoin.conf
[code]
address: mjUqC76xp9W3ZDsGHwvYE6gPsTJM3BZbui

[2019-11-16 18:25] aguycalled commented on #626
Testnet node 3

[code]

This node will be used to inject transactions and dao entries.

[2019-11-16 18:48] dantudor commented on #626
IP: 167.99.91.77
Ubuntu 18.04.2 x64
configure --without-gui
Self compiled using system dependencies
gcc version 7.4.0 (Ubuntu 7.4.0-1ubuntu1~18.04.1)
2 vCpu
4 GB RAM
60 GB SSD
Location: London, UK

navcoin.conf

testnet=1
rpcuser=<username>
rpcpassword=<password?
rpcport=8332
listen=1
server=1
txindex=1
addressindex=1
spentindex=1
zmqpubhashtx=tcp://*:28332
zmqpubhashblock=tcp://*:28332
zmqpubrawb

[2019-11-17 06:53] proletesseract commented on #627
@aguycalled what about timestampindex?

[2019-11-17 07:10] sakdeniz commented on #626
Created a web page to show testnet node details dynamically.

http://navcommunity.net/testnet

[2019-11-17 07:12] sakdeniz commented on #626
IP: 37.148.211.167
-testnet -debug -staking=1
Ubuntu 16.04
Used binary from https://build.nav.community/binaries/master/
2 vCpu
4 GB RAM
40 GB SSD
Location: Istanbul, Turkey

[2019-11-17 19:55] aguycalled commented on #627
i don't know of services using it, but worth to include it in what we test

[2019-11-17 20:23] aguycalled commented on #627
Syncing from genesis test:

**Self build of master @ b8ed018**

- System dependencies and self compiled `bdb-4.8` and `unbound`.
- `./configure` with `--disable-hardening`.

Tested a headless node:

- [ ] No indexes
  - [ ] After complete sync launch with `-reindex=1`
  - [ ] After complete sync launch with `-reindex-chainstate=1`
- [ ] `txindex=1 addressindex=1 spendindex=1`
  - [ ] After complet

[2019-11-17 20:44] aguycalled commented on #627
Syncing from genesis test:

**Self build of master @ b8ed018**

- Used dependencies from `depends` folder

Tested a GUI wallet:

- [ ] No indexes
  - [ ] `verifychain 4 0` rpc command succeeds
  - [ ] After complete sync launch with `-reindex=1`
  - [ ] After complete sync launch with `-reindex-chainstate=1`
- [ ] `txindex=1 addressindex=1 spendindex=1` :stopwatch: Sync started `2019-11-17 12:30`

[2019-11-17 20:46] aguycalled commented on #627
Syncing from genesis test:

**Gitian build of master @ b8ed018**

Tested a GUI wallet:

- [ ] No indexes :stopwatch: Sync started `2019-11-17 13:30`
  - [ ] `verifychain 4 0` rpc command succeeds
  - [ ] After complete sync launch with `-reindex=1`
  - [ ] After complete sync launch with `-reindex-chainstate=1`
- [ ] `txindex=1 addressindex=1 spendindex=1`
  - [ ] `verifychain 4 0` rpc command suc

[2019-11-17 21:52] aguycalled commented on #627
## Syncing test

**Self build with depends folder of master @ b8ed018**

Tested a GUI wallet:

- [ ] Bootstrap
  - [ ] Wallet closed and opened again. Still synced.
  - [ ] `verifychain 4 0` rpc command succeeds
  - [ ] After complete sync launch with `-reindex=1`
  - [ ] After complete sync launch with `-reindex-chainstate=1`

Specs:

- Intel Core i7 2,8 Ghz 4 core, 16GB RAM, 1TB SSD
- OSX Mojave

[2019-11-17 22:33] aguycalled opened #630 "verifychain fails"
## How to reproduce

- `verifychain 4 0` as a rpc or console command.

## Issue description

- `verifychain 4 0` fails and log shows (`system 1`):

[code]

- `system 2` showed error at a different height:

[code]

- `system 3` showed different error:

[code]

## What to expect when it is fixed

- `verifychain 4 0` succeeds.

##  Syncing test

**Self build with depends folder of master @ b8ed018**

[2019-11-17 22:58] aguycalled opened #631 "-reindex corrupts the blockindex"
## How to reproduce

- Launch a fully synced wallet with `-reindex=1`

## Issue description

- Reindex will fail:

[code]

- It will not accept the valid block `e5e9e23e134e4bd4b4a88542b4fd771373a6c6420eb3a48a7145dd5c2e1b5692`, which includes the first cold staking transaction, marking it as invalid

- The wallet will start to sync from scratch again, and will stop syncing once it finds the block

[2019-11-18 22:46] proletesseract commented on #627
## Syncing test

**Self build of master @ b8ed018**

- Using compiled libraries in depends directory
- `./configure` with `--disable-hardening`.

Tested a headless node:

- [ ] No indexes - wallet crashed at block `309026`
  - [ ] Wallet closed and opened again. Still synced.
  - [ ] `verifychain 4 0` rpc command succeeds
  - [ ] After complete sync launch with `-reindex=1`
  - [ ] After complete

[2019-11-19 06:36] sakdeniz opened #635 "Add bestblockhash and dirty version info to getpeerinfo rpc method"
It is very helpful to see the blockhash and dirty version number of other clients, especially when monitoring nodes in the testnet network.

[2019-11-19 09:52] francisjyap commented on #627
## Syncing test

Gitian build of master @ 676a43b

### Tested a GUI wallet:

* [ ] No indexes (Successful sync from scratch in 3h 15m).
    * [ ] Wallet closed and opened again. Still synced.
    * [ ] verifychain 4 0 rpc command succeeds
    * [ ] After complete sync launch with -reindex=1
    * [ ] After complete sync launch with -reindex-chainstate=1

### Specs:

Intel® Core™ i3-4150 CPU @ 3.50

[2019-11-19 11:19] mxaddict commented on #626
Testnet node:
[code]

Compiled like so:
[code]

[2019-11-19 11:23] mxaddict commented on #626
@aguycalled `mzj1putA8hVr5YwQ4fFFxS32Egop1ffekx`

![Screenshot from 2019-11-19 19-23-15](https://user-images.githubusercontent.com/1060905/69142582-15b14280-0b02-11ea-8722-e60a3b381ddf.png)

[2019-11-20 10:04] mxaddict commented on #627
## Syncing test

Self build of master @ 37fa72e386ad3daff58b92ed7dda1a9b0676a43b

## Tested a GUI wallet:

* [ ] No indexes Successful sync from scratch in 6h 20m
    * [ ] Wallet closed and opened again. Still synced.
    * [ ] verifychain 4 0 rpc command succeeds
    * [ ] After complete sync launch with -reindex=1
   *  [ ] After complete sync launch with -reindex-chainstate=1
* [ ] txindex=1 a

[2019-11-22 16:08] #631 closed

[2019-11-23 04:14] proletesseract opened #639 "Review & Expand Python Tests for CFund"
Scaffolding out a given/when/then framework for the community fund tests.

Mapping out the test scenarios.

Spike: see if we can even randomise the scenarios.

[2019-12-10 09:36] Remdev opened #645 "getbalance returns incorrect balance"
When i call `getbalance "*" 0`, i get negative balance

`-1088.00000000`

But if i call `getwalletinfo` i get right balance
[code]

I think, it's because in my node staking is enable.

Navcoin: NavCoin Core Daemon version v4.7.1.0-8131b423
OS: Ubuntu 18.04.2 LTS

maybe it could help
[code]

[2019-12-11 08:56] #630 closed

[2019-12-13 10:03] aguycalled opened #650 "Test sync v4.7.2-rc"
Ensure the latest release candidate v4.7.2 of NavCoin Core can always successfully sync from the genesis block.

https://build.nav.community/binaries/v4.7.2-rc/

https://github.com/navcoin/navcoin-core/pull/649

### Template

**(Gitian) build of BRANCH @ COMMIT**

Tested a GUI wallet/headless mainnet/testnet:

- [ ] No indexes
  - [ ] When launching the node with an old data folder, the wallet tel

[2019-12-13 10:23] aguycalled commented on #650
**Gitian build of v4.7.2-rc @ 1b05e35**

Tested a GUI wallet:

- [ ] No indexes
  - [x] It opens with a previous synced data folder and stays synced.
  - [ ] It is able to sync from scratch. 🕐 started 13.12.2019 11:22
  - [ ] Wallet closed and opened again. Still synced.
  - [ ] `verifychain 4 0` rpc command succeeds
  - [ ] After complete sync launch with `-reindex=1`
  - [ ] After complete sync

[2019-12-13 16:07] chasingkirkjufell commented on #650
**local Ubuntu 18.10 build of master @ 09f053152761aa254dae27a9da3e338e2e31e671**

Tested a GUI wallet on mainnet:

- [ ] No indexes
  - [ ] When launching the node with an old data folder, the wallet tells the user about the need to reindex and is correctly synced once finished.
  - [ ] It is able to sync from scratch.
  - [ ] Wallet closed and opened again. Still synced.
  - [ ] `verifychain 4 0

[2019-12-13 18:28] aguycalled commented on #650
**local ubuntu 18.04 build of master @ 09f053152761aa254dae27a9da3e338e2e31e671**

Tested a headless wallet on mainnet:

- [x] No indexes
  - [x] When launching the node with an old data folder, the wallet tells the user about the need to reindex and is correctly synced once finished. 👍
  - [ ] It is able to sync from scratch.
  - [ ] Wallet closed and opened again. Still synced.
  - [ ] `verifych

[2019-12-15 06:58] chasingkirkjufell commented on #650
**Gitian build of master @ 1b05e35ca44ef05d487bc8027422b655198a2921**

Tested a GUI wallet on mainnet:

- [ ] No indexes
  - [ ] When launching the node with an old data folder, the wallet tells the user about the need to reindex and is correctly synced once finished.
  - [ ] It is able to sync from scratch.
  - [ ] Wallet closed and opened again. Still synced.
  - [ ] `verifychain 4 0` rpc comman

[2019-12-16 12:28] mxaddict commented on #650
**Self build of master @ 23cd3db8718cd354433018b56ecbac41e7cd95eb**

Tested a GUI wallet:

- [x] No indexes
  - [x] When launching the node with an old data folder, the wallet tells the user about the need to reindex and is correctly synced once finished.
  - [x] It is able to sync from scratch.
  - [x] Wallet closed and opened again. Still synced.
  - [x] `verifychain 4 0` rpc command succeeds

[2019-12-16 12:39] mxaddict commented on #650
**Self build of master @ 09f05315**

Tested CLI wallet:

- [x] No indexes
  - [x] When launching the node with an old data folder, the wallet tells the user about the need to reindex and is correctly synced once finished.
  - [x] It is able to sync from scratch.
  - [x] Wallet closed and opened again. Still synced.
  - [ ] `verifychain 4 0` rpc command succeeds
  - [x] After complete sync launch w

[2019-12-20 07:05] sakdeniz opened #654 "Add progress info to "Loading block index..." RPC message"
It would be useful if we could add the completion rate at the end of the message "Loading block index ...". In the NEXT wallet, we can only display the message that the block index is being loaded when the wallet is initialized, and users have no idea how long the block index loading process will take.

[2020-02-14 21:15] mrmetech commented on #451
Hi I would like to do this bounty

[2020-02-14 21:15] aguycalled commented on #451
assigned to @mrmetech

[2020-02-16 01:31] mrmetech commented on #451
NdTrSEe6bMMvVwNUimxs2BiWkX5Xn9MW7o

[2020-02-19 14:38] chasingkirkjufell commented on #584
Resolved with #605

[2020-02-19 14:38] #584 closed

[2020-02-19 14:41] chasingkirkjufell commented on #599
Resolved with #605

[2020-02-19 14:41] #599 closed

[2020-02-19 19:47] chasingkirkjufell opened #664 "Mnemonic creation window seed word cut off by boarder"
![image](https://user-images.githubusercontent.com/38635377/74869861-5ea1ae80-531e-11ea-8d2b-0c3c78e8b87f.png)

[2020-02-20 05:56] mxaddict commented on #664
This is now fixed on master

[2020-02-20 05:56] #664 closed

[2020-02-20 05:57] mxaddict commented on #650
Since 4.7.2 was released already, I'll be closing this issue now 😄

[2020-02-20 05:57] #650 closed

[2020-02-20 06:03] mxaddict commented on #595
@aguycalled @proletesseract is this still an issue?

[2020-02-20 06:09] magpie17 commented on #595
Yes, this is still an issue as I'm still using macOS version 10.13.6 (and using NAV wallet version 4.7.3)

[2020-02-20 08:13] aguycalled commented on #595
@magpie17 could you try the new gui? https://build.nav.community/binaries/updated-main-menu/

[2020-02-20 12:36] magpie17 commented on #595
I've downloaded the new GUI but the icon still looks very blurry. I did notice that when the program first starts, for an instant the icon looks very clear but then changes into a blurry version. I'm afraid it happens too quickly to screenshot the clear icon but I've attached the blurry one for reference.
![Screenshot at Feb 20 23-31-58](https://user-images.githubusercontent.com/50758798/74934118-

[2020-02-20 13:42] #252 closed

[2020-02-20 13:42] #424 closed

[2020-02-20 13:42] #465 closed

[2020-02-20 13:42] #548 closed

[2020-02-20 13:42] #563 closed

[2020-02-24 14:19] chasingkirkjufell opened #668 "Setting testnet=1 in config file does not work"
Launching with parameter -testnet=1 will work but setting testnet=1 in config file does not boot up the testnet, it goes into mainnet instead.

[2020-02-25 16:20] chasingkirkjufell commented on #668
Resolved in #669

[2020-02-25 16:20] #668 closed

[2020-03-03 16:27] mxaddict opened #674 "Add tools page/dialog for running common commands for wallet repair/maintenance"
Add tools page/dialog for running common commands for wallet repair/maintenance

Options could include, but not limited to:

[code]

Something that looks like this:

![image](https://user-images.githubusercontent.com/1060905/75796747-11f2b480-5daf-11ea-96b2-07c5e2555e12.png)

[2020-03-03 16:32] mxaddict commented on #674
@mrmetech wanna work on this?

[2020-03-03 16:34] mxaddict commented on #674
Can be added as a new tab in the debug window/dialog:

![Capture](https://user-images.githubusercontent.com/1060905/75797267-e2907780-5daf-11ea-91bb-07b4572f4f95.PNG)

[2020-03-03 16:41] mrmetech commented on #674
Yeah I could work on this

[2020-03-03 16:51] mxaddict commented on #674
Nice!

[2020-03-04 02:30] mrmetech commented on #674
NdTrSEe6bMMvVwNUimxs2BiWkX5Xn9MW7o the address the bounty should be paid to

[2020-05-30 00:23] dantudor opened #684 "Consensus consultation that was flagged as a duplicate activated on node restart"
If I create a consensus consultation for a parameter that already has an active consultation the consultation is flagged as a duplicate and not created.

When the node is restarted in the future, the previously failed consensus consultation is reviewed and if no longer a duplicate it is created.

The example log below is for consultation 317020f52a88e22bd6125b2b1c2b9493e21080f94babac7b91ef5b287505

[2020-05-30 00:25] dantudor commented on #684
[pastebin of the log](https://pastebin.com/CALmrDy0)

[2020-05-30 10:34] mxaddict opened #685 "Can't see version bit 22 via getblockchaininfo cli command"
Can't see version bit 22 via getblockchaininfo cli command on 5.0.0 wallet:

[code]

[2020-05-30 10:36] #610 closed

[2020-05-30 10:37] mxaddict commented on #595
Is this still the case with 5.0 wallet?

[2020-05-30 10:38] mxaddict commented on #627
I think we can close this issue now

[2020-05-30 10:38] #627 closed

[2020-05-30 12:32] magpie17 commented on #595
I'm using the 5.0 wallet on Mac OS version 10.13.6 (High Sierra) and I can confirm that the icon looks the same as before i.e. it is still blurry.

[2020-05-31 23:13] dantudor opened #687 "[RPC] Cant propose an alphanumeric answer"
When proposing an answer via RPC the command fails when the proposed answer is not a parseable numeric.

`navcoin-cli proposeanswer 8780a29064ada68da8b0f2a5cccef790746b3001f3d04b69d8a2e61eebb5af67 "Satoshi"`
`error: Error parsing JSON:Satoshi`

[2020-06-01 01:14] mxaddict commented on #687
Try it like this
```navcoin-cli proposeanswer 8780a29064ada68da8b0f2a5cccef790746b3001f3d04b69d8a2e61eebb5af67 "\"Satoshi\""```

[2020-06-01 01:31] mxaddict commented on #687
I'm guessing this is where the error is from: https://github.com/navcoin/navcoin-core/blob/60964e16aa396ced6ab9e9bdcfcc846a72aba01c/src/wallet/rpcwallet.cpp#L1201

[2020-06-02 19:04] #685 closed

[2020-06-02 19:05] mxaddict commented on #685
Fixed in #686

[2020-06-04 08:31] #687 closed

[2020-06-04 08:33] mxaddict commented on #674
Closing as this is already release with 5.0

[2020-06-04 08:33] #674 closed

[2020-06-04 08:40] mxaddict commented on #621
Maybe instead of replacing, we can just add a new one?

[2020-06-04 10:41] mxaddict commented on #621
@Xa5r I've created a PR for this, checkout #692

[2020-06-04 10:41] mxaddict commented on #619
@chasingkirkjufell I think we can close this, since we've already merged into master ❤️

[2020-06-04 10:41] #619 closed

[2020-06-04 10:51] mxaddict commented on #595
I did some investigating, and aparently this issue is related to the OSX version?

I asked a friend of mine to test on latest OSX and the icon issue was not present.

[2020-06-04 10:52] mxaddict commented on #595
I think @aguycalled can confirm on his OSX install that this issue is not present.

[2020-06-04 10:53] mxaddict commented on #529
I think we can close this 😄

[2020-06-04 10:53] #529 closed

[2020-06-04 10:54] mxaddict commented on #516
Closing as I think this is no longer an issue with 5.0.0, please reopen if it's still happening.

[2020-06-04 10:54] #516 closed

[2020-06-04 10:54] aguycalled commented on #595
<img width="262" alt="image" src="https://user-images.githubusercontent.com/24814046/83748487-90871880-a662-11ea-8b40-a10632eb469b.png">
mojave 10.14.6

[2020-06-04 10:55] mxaddict commented on #513
I think this is a network setup issue, and can be closed.

[2020-06-04 10:55] #513 closed

[2020-06-04 10:55] mxaddict commented on #595
Yeah, so I guess we can close this.

[2020-06-04 10:55] #595 closed

[2020-06-04 10:57] mxaddict commented on #626
Closing as new testnet is already done.

[2020-06-04 10:57] #626 closed

[2020-06-04 10:58] mxaddict commented on #498
I think this is fixed in 5.0

[2020-06-04 10:58] #498 closed

[2020-06-04 10:58] mxaddict commented on #498
Just reopen if not.

[2020-06-04 10:59] mxaddict commented on #535
I think I fixed this with the GUI changes in 5.0

[2020-06-04 10:59] #535 closed

[2020-06-04 11:01] mxaddict commented on #499
I can confirm that this is still an issue, but I don't have the expertise to fix 😄

[2020-06-04 11:01] mxaddict commented on #490
Already on 5.0

[2020-06-04 11:01] #490 closed

[2020-06-04 11:02] mxaddict commented on #488
Do you think we still need/want this? After all we want to discourage using a bootstrap.

[2020-06-04 11:03] aguycalled commented on #488
i think it would still be a good addition

[2020-06-04 11:03] mxaddict commented on #477
I think this was related to not having enough RAM, closing as it works with 2GB ram as long as you have SWAP file, but takes much longer to boot the daemon.

[2020-06-04 11:03] #477 closed

[2020-06-04 11:12] mxaddict commented on #583
@forkocean-com is this still an issue?

[2020-06-04 11:12] mxaddict commented on #583
Closing for now, just re-open if you still have an issue with this.

[2020-06-04 11:12] #583 closed

[2020-06-04 11:13] mxaddict commented on #451
Already on 5.0, and bounty paid, closing issue.

[2020-06-04 11:13] #451 closed

[2020-06-04 11:13] mxaddict commented on #476
Is anyone still experiencing this? I could not replicate.

[2020-06-04 11:14] mxaddict commented on #415
@aguycalled is this still an issue on 5.0? I'm assuming no 👍

[2020-06-04 11:15] mxaddict commented on #414
I think this issue was fixed in the 4.7.3 release (The stability testing would have found it if it was still an issue)

[2020-06-04 11:15] #414 closed

[2020-06-04 11:16] mxaddict commented on #404
I think this was fixed in 4.7.3 as well, closing for now, just reopen if you experience this on never versions.

[2020-06-04 11:16] #404 closed

[2020-06-04 11:17] mxaddict commented on #397
New voting via lightweight wallets is now possible with 5.0, just waiting for the versionbit to be accepted.

[2020-06-04 11:17] #397 closed

[2020-06-04 11:24] mxaddict commented on #377
Ran the `coldstaking_spending.py` test in a loop for about 5 minutes, did not fail, so I guess this issue can be closed.

[2020-06-04 11:24] #377 closed

[2020-06-04 11:25] mxaddict commented on #373
Looks like the PR for this is closed.

[2020-06-04 11:25] #373 closed

[2020-06-04 11:27] mxaddict commented on #361
bip65-cltv.py test is not enabled in the suit as of the moment, might need to create an issue for checking which of these disabled tests need to be fixed and re-enabled.

[2020-06-04 11:27] #361 closed

[2020-06-04 11:29] mxaddict commented on #55
Can anyone with a windows server check that this issue is still around with the release of 5.0?

[2020-06-04 11:29] aguycalled commented on #415
its fixed

[2020-06-04 11:29] #415 closed

[2020-06-04 11:30] aguycalled commented on #476
we disabled the popup

[2020-06-04 11:31] mxaddict commented on #360
Seems related to #361

[2020-06-04 11:31] #360 closed

[2020-06-04 11:32] mxaddict opened #693 "Need to check which tests need fixing and re-enabled in the python test suite"
Related to issues:

* #361
* #360

[2020-06-04 11:33] mxaddict commented on #476
I guess we can close this now.

[2020-06-04 11:33] #476 closed

[2020-06-04 11:33] mxaddict commented on #491
We are using dandelion++ now, can we close this issue?

[2020-06-04 11:35] mxaddict commented on #358
We've opened a bounty issue for this here: #519

[2020-06-04 11:35] #358 closed

[2020-06-04 11:37] mxaddict commented on #344
I just checked the README.md and it has links to building the depends and some other material in `./docs` as well. I think we can close this.

[2020-06-04 11:37] #344 closed

[2020-06-04 11:37] mxaddict commented on #321
Is this still applicable to latest version?

[2020-06-04 11:45] mxaddict commented on #246
This sounds like a feature that does not belong on the core wallet, maybe a companion app that processes the CSV history might be more useful.

[2020-06-04 11:45] mxaddict commented on #194
@aguycalled is this document for OSX up to date?

[2020-06-04 11:46] mxaddict commented on #90
We have mnemonic support now, not sure if we want this still.

[2020-06-04 11:48] mxaddict commented on #75
@aguycalled is this still an issue? might be related to the key dumping scenario that I talked about on discord.

[2020-06-04 12:01] mxaddict opened #694 "Change default datadir to not have the version in the path"
Current datadir default location has version number in it, might make more sense to remove it now that we don't have support for old 3.x versions.

[2020-06-04 12:03] mxaddict opened #695 "Adding encryption to non encrypted `wallet.dat` changes master private key"
Adding encryption to non encrypted `wallet.dat` changes master private key

As discussed in discord, this is an issue for new users, as any new addresses that are created on the `wallet.dat` after adding a password will not be in the original `wallet.dat` backup.

[2020-06-04 12:41] mxaddict commented on #600
@aguycalled I'll take a shot at this :)

[2020-06-04 13:01] mxaddict commented on #600
I think a good way to implement this would be to have 2 passwords?

1 for tx data and another for the keys

Issue I see with 1 password for both is that if you encrypt whole wallet.dat with 1 password, that means the wallet will be completely unlocked while running it.

Not just when sending TX.

[2020-06-04 13:02] aguycalled commented on #600
yes i agree with doing it like that with 2 passwords. like a PIN for the whole wallet, and then the spending password

[2020-06-04 13:03] mxaddict commented on #600
So PIN for the tx data? And password for the keys? Or allow using password for tx data as well?

[2020-06-04 13:04] mxaddict commented on #600
People can always just use PIN in the password field anyway 🗡️

[2020-06-04 13:05] aguycalled commented on #600
i would allow the pin for decrypting the whole wallet to be alphanumeric and of arbitrary length

[2020-06-04 13:05] mxaddict commented on #600
Yeah so user decides how simple/secure it will be (Just like the main password)

[2020-06-04 13:07] mxaddict commented on #600
Should I allow a user to encrypt the tx data and leave the keys open? (Strange question, but I know some users might do it out of spite) Hahaha

[2020-06-04 13:08] mxaddict commented on #600
I've decide, tx data encryption requires keys to already be encrypted 🍡

[2020-06-04 15:45] mxaddict commented on #695
We tested with thoroughly and I can confirm that it's an issue when restoring the mnemonic.

Scenario:
1. User creates new wallet, backs up mnemonic
2. Adds password
3. Send coins to wallet
4. Lost wallet.dat file
5. Restores mnemonic
6. Discovers that all the coins are not in the mnemonic

[2020-06-05 02:56] chasingkirkjufell opened #701 "Re-add new version pop up"
At some point when we have some resource, we should consider adding this back to notify users that there is a new version of the wallet.

https://github.com/navcoin/navcoin-core/pull/652

[2020-06-05 03:05] mxaddict commented on #701
I think I might have added it to the header as a notification, I'll confirm when I get the chance.

[2020-06-05 06:46] mxaddict commented on #701
I've checked, and indeed it's not integrated into the notification section either.

[2020-06-05 08:28] #695 closed

[2020-06-06 12:49] yraen69 opened #704 "Navcoin 5 wallet crashing on vote change"
NavCoin Core version v5.0.0.0-99e27d6f (64-bit)
Click DAO in the wallet UI --> Payment Requests --> Change and BAM wallet instantly exits.

Windows 10.

Repeatable, happens every time I do it.

![NAV_Crash](https://user-images.githubusercontent.com/17959135/83944513-8e75b300-a836-11ea-9677-ac8f04bee9d8.PNG)

Scanned the debug log, nothing of note but happy to upload somewhere if you want it.

[2020-06-06 13:20] Xa5r commented on #704
The payment request is already expired, and also the 8 cycle is over.
This Payment request should not be displayed in the wallet anymore:
https://www.navexplorer.com/community-fund/payment-request/a54ff8870cc42666da2bd7dd89d722583f6eecd587507072953a767e152630cf

But it's interesting that there are still blocks voting for it:
https://www.navexplorer.com/block/4228030

[2020-06-06 13:29] chasingkirkjufell commented on #704
Thanks for reporting. @yraen69 I confirm that the same steps crashes my qt wallet on Windows 10 as well. Building a local build to debug it at the moment.

[2020-06-06 13:39] mxaddict commented on #704
I tested on windows 10, I get the crash too, testing on Ubuntu no.

[2020-06-06 13:52] mxaddict commented on #704
Crashes on linux as well (Lucky for me so I can get the backtrace)

[code]

[2020-06-06 14:09] mxaddict commented on #704
Created a PR with the fix for this crash, should be able to test on windows as soon as the gitian build is done.

[2020-06-06 19:21] aguycalled commented on #694
the reason why i did not change it for navcoin 5.0.0 was that it would require users to sync from scratch or go through a chain/wallet migration process

[2020-06-06 19:35] #621 closed

[2020-06-06 19:57] mxaddict commented on #694
We could have the wallet just move the folder if it finds the NavCoin4 DIR?

[2020-06-07 11:35] #704 closed

[2020-06-07 11:49] mxaddict opened #707 "[WALLET] -datadir=<path> not supporting `~` to represent home directory"
Launching with does not find the data dir, even though it exists
[code]

[2020-06-07 15:18] mxaddict opened #710 "[DB] Investigate performance of new libdb and leveldb versions"
Investigate performance of new libdb and leveldb versions

We could create an upgrade tool to migrate to newer versions (For backward compatibility), this is assuming of course that the improved performance is big enough to merit the work.

[2020-06-07 16:53] #654 closed

[2020-06-07 18:28] #538 closed

[2020-06-08 22:22] aguycalled commented on #704
@yraen69 reporting this issue honours you a bounty of 1000NAV
https://www.reddit.com/r/NavCoin/comments/bd1mku/navcoincore_dev_bounty_fund/
you can leave a navcoin address here and i will send you the coins tomorrow ;)

[2020-06-08 23:35] mxaddict commented on #710
libdb had to be upgrade for issue #709

[2020-06-09 02:13] mxaddict commented on #645
I can config that `getbalance "*" 0` is indeed getting the wrong balance

If I run `getbalance` it's correct.

[2020-06-09 12:28] yraen69 commented on #704
@aguycalled thank you, that's unexpected... long time NAV user love the project. Much appreciated and here is an address as requested:

NZKc1qXxobo5dEguJiNaE6ooQeEGgpVvas

[2020-06-09 14:47] aguycalled commented on #704
sent 292a6a78945b43c389a209928b8229be033ac0c4faca99db82b34792e854d479

[2020-06-11 15:10] cipig opened #714 "segfault on startup after updating to latest master"
navcoind segfaults on startup
`navcoind[1934547]: segfault at 20 ip 000055e89147e284 sp 00007fffd7412ab0 error 4 in navcoind[55e891202000+457000]`

debug.log:
[code]

my config:
[code]

[2020-06-11 15:20] aguycalled commented on #714
can't replicate on my system. did you self build?

[2020-06-11 15:23] cipig commented on #714
yes, i built myself, with `./configure --with-incompatible-bdb --with-gui=no --disable-tests --disable-bench --without-miniupnpc --disable-zmq` on debian 10 with gcc 8

i made a backtrace with gdb:
[code]

[2020-06-11 15:37] aguycalled commented on #714
could you try this branch https://github.com/aguycalled/navcoin-core/tree/votestep-check-for-pprev

[2020-06-11 15:38] aguycalled commented on #714
is it the first time it happens for you? did u just upgrade? if yes, from what version?

[2020-06-11 15:54] cipig commented on #714
yes, i just upgraded... last version i used and that still works is `"version": 4070000`
saw this the first time, yes
tried the version from your branch, but the backtrace is almost the same
[code]

[2020-06-11 16:07] aguycalled commented on #714
i'd say your blockindex db is somehow corrupted. would you mind trying to resync or loading this chaindata? https://electrum.nav.community/navcoin-5.0.0-boostrap-txindex-20200607.tar.gz

[2020-06-11 16:24] cipig commented on #714
using the bootstrap worked fine, thanks a lot
so you are right, the DB was somehow corrupted, closing issue

[2020-06-11 16:24] #714 closed

[2020-06-12 07:02] mxaddict commented on #90
@aguycalled @proletesseract @chasingkirkjufell

Think this is still needed for the wallet?

[2020-06-12 07:27] mxaddict opened #716 "[GUI] Send coins dialog summary has wrong tx size (bytes)"
[GUI] Send coins dialog summary has wrong tx size (bytes)

![Capture](https://user-images.githubusercontent.com/1060905/84476731-2b19d400-acc1-11ea-93f1-015938de9f4b.PNG)

[2020-06-12 18:31] mxaddict commented on #710
leveldb in #717

[2020-06-13 16:27] mxaddict commented on #519
I think we can close this now? Most of the tests are now working nicely on the test suite, master branch is also passing, and the PRs are passing.

[2020-06-13 16:28] #519 closed

[2020-06-13 16:28] mxaddict commented on #519
Just re-open if you think there are more tests that need fixing.

[2020-06-14 18:34] chasingkirkjufell opened #718 "[GUI] Update the cold-staking address wizard to support cold-staking v2"
current wizard only asks spending and staking address, an optional voting address could be added.

![image](https://user-images.githubusercontent.com/38635377/84601128-fa59ac00-ae32-11ea-9b6f-d7d0da0c442a.png)

[2020-06-14 19:21] chasingkirkjufell opened #719 "DAO Stats on homepage"
There was discussions around adding DAO to the homepage. I think it's worth exploring since DAO is such a key component in NAV.

One of the potential location for it would be under the staking.

![image](https://user-images.githubusercontent.com/38635377/84602051-879fff00-ae39-11ea-8f10-9436800945e5.png)

[2020-06-14 19:34] chasingkirkjufell opened #720 "Build FAQ into core qt wallet"
I think it would be a nice addition to the qt wallet to have https://info.navcoin.org/ built into the wallet so it's easily accessible while at a obvious location where people can just browse through the good content that's in there and have most of their questions answered.

Not sure if it's feasible or a good idea, would love to hear what you guys think.

[2020-06-14 19:46] mxaddict commented on #720
I agree with this

[2020-06-14 19:47] mxaddict commented on #720
One way I can think of to get this done is to make an markdown parser, that just loads the markdown files from the actual website.

[2020-06-14 19:59] chasingkirkjufell opened #721 "Update in wallet tx 3d party website to navexplorer.com"
Currently, under setting in display tab, the wallet uses chainz

![image](https://user-images.githubusercontent.com/38635377/84602683-13b42580-ae3e-11ea-8ed5-9b5784961ee3.png)

Suggesting that we change it to https://www.navexplorer.com/

[2020-06-14 20:07] mxaddict commented on #721
I think this is already the case:
https://github.com/navcoin/navcoin-core/blob/7c8e25c6d520e8daaf9ca6b6d00646f2782a9eb0/src/qt/optionsmodel.cpp#L74-L76

[2020-06-14 20:08] mxaddict commented on #721
Might just be the setting on your machine 😄

[2020-06-14 20:20] #721 closed

[2020-06-14 20:23] #539 closed

[2020-06-17 07:30] sakdeniz opened #722 "[RPC] Extend getaddressdeltas RPC method"
Currently getaddressdeltas method returns some basic transaction history data for specified address.

For use in light wallets like NEXT mobile, it would be good to expand the address's transaction history data so that we can get transaction details directly from the core wallet.

Currently method returns transaction details like this.
[code]
It would be good to expand it by adding some data like

[2020-07-03 12:31] chlorocryptos opened #729 "[GUI] config variables wrong precedence/order on wallet startup"
Describe the issue:
when starting up the navcoin wallet 5.0.1 with e.g. a 'wallet=mywallet.dat' directive specified in custom config file ('navcoin.conf')
the 'mnemonic startup gui' is presented, although the valid 'mywallet.dat' file is present.
at that point i don't want to create a new wallet, because i have already one....
the 'mnemonic startup gui' vanishes, when the custom wallet file is ren

[2020-07-03 12:53] mxaddict commented on #729
@chlorocryptos I think I fixed this issue in one of my PRs, can you try and test with behavior with latest master build?

[2020-07-03 12:53] mxaddict commented on #729
You can download latest master build here: https://build.nav.community/binaries/master/

[2020-07-03 13:08] mxaddict commented on #729
I tested latest master and seems this issue still exists

[2020-07-04 17:40] chlorocryptos commented on #729
confirmed.
master behaves the same as 5.0.1 official release...

[2020-07-06 08:34] aguycalled commented on #729
Should be fixed here https://github.com/navcoin/navcoin-core/pull/730
@chlorocryptos if you leave here a navcoin address i will send you some coins from the bug bounty for reporting this

[2020-07-07 13:13] chlorocryptos commented on #729
nice to hear it has been fixed and i'm pleased to receive a bug bounty reward, but that hasn't been my primary objective...
nav address: NNccVpbvKfJnJ3xgbnheUtpUqhSNiBkcgP

[2020-07-12 22:42] #718 closed

[2020-07-14 07:03] #729 closed

[2020-07-22 02:10] chasingkirkjufell opened #736 "[GUI] QT wallet voting stats labels overlapping"
Current:
![image](https://user-images.githubusercontent.com/38635377/88126071-9a6ac980-cb85-11ea-940c-d2e29f25df6d.png)

Expectations:
each label has clear margin against other labels.

[2020-07-24 02:26] chasingkirkjufell opened #737 "[DAO] Combining Consensus Parameters for cfund % and rewards"
The current setup has these two parameters set separately. But since these two parameters are coupled, it is suggested that we somehow combine these two parameters into 1 consensus item that has two parameters so they can be changed at the same time.

For example, in the current setup, if we want to increase cfund distribution to 1 NAV per block while keeping the reward of 2 NAV per block, we will

[2020-07-24 21:52] aguycalled commented on #737
this is an interesting upgrade, which would require a bit of reengineering of how things work internally. adding a bounty and will add later some ideas on how it could be implemented

[2020-07-24 21:52] #722 closed

[2020-07-31 03:20] chasingkirkjufell opened #739 "[DAO] Cfund proposal acceptance order not following the timestamp order of when the proposal is accepted"
Currently:
If a proposal is passed through voting but the funding in the pool is not enough, the proposal will be in the "accepted waiting for funding" state as expected. But when later on proposals are also accepted requesting for less funding, the later proposals will be locked in first and take away the available funding.

Expectation:
Even when a proposal with less funding is accepted, the pre

[2020-08-07 14:19] mxaddict opened #741 "[BUG] Key pool is empty when creating a new wallet if password is provided for encryption"
Key pool is empty when creating a new wallet if password is provided for encryption

1. Delete existing wallet.dat
2. Start GUI wallet
3. Add password on last step of setup wizard
4. Check receive tab of wallet
5. There will be no address cause key pool is empty

[2020-08-15 23:57] re42 opened #742 "master.SHA256SUM.asc is not included in v5.0.1 Assets"
Is there a reason the file master.SHA256SUM.asc is not included in the list of Assets/Downloads?

Please can you include it for download

[2020-11-13 17:10] #600 closed

[2020-12-27 11:20] dantudor opened #748 "[RPC] Sort addresshistory results by txindex"
The results from getaddresshistory are not sorted by txindex when there are multiple txs at the same height that involve the same address.

```navcoin-cli getaddresshistory '{"addresses": ["NZAYMqfqhgN2g7JW9G6pKyGy9YsMnBLUAS"], "start": 4749628, "end": 4749628}'```

The stakeable balance increments in the order the txs are sorted, when they should increment in the order of txindex

[code]

[2021-01-03 19:33] mxaddict commented on #742
@re42 The hashes are in the release itself, but I think the sha sum file was not uploaded with the assets by mistake

[2021-01-03 19:33] mxaddict commented on #742
Closing this issue now as it should not happen again in the next release.

[2021-01-03 19:33] #742 closed

[2021-01-03 19:54] mxaddict commented on #580
I think we can close this now?

[2021-01-03 19:54] #580 closed

[2021-01-03 19:56] mxaddict commented on #572
Closing as I can't replicate this issue anymore.

[2021-01-03 19:56] #572 closed

[2021-01-03 19:57] mxaddict commented on #710
Closing as libdb and leveldb have been updating since this issue was created

[2021-01-03 19:57] #710 closed

[2021-01-03 19:58] mxaddict commented on #491
@aguycalled does this issue still need working on? or does BLSCT have these changes covered?

[2021-01-03 20:00] aguycalled commented on #491
we can close it by now

[2021-01-03 20:00] #491 closed

[2021-01-03 20:06] mxaddict commented on #384
@aguycalled  @kakax114 I think the current UI on 5.x and even 6.x are very different from the UI in this issue now, I think we should close this and maybe come up with a different concept that's more applicable with the current UI of the wallet.

[2021-01-03 20:06] #384 closed

[2021-01-03 20:08] mxaddict commented on #499
I can confirm that this is still an issue, but have yet to find out what the cause if for the vanity address not working with cold staking.

I think since it's a very niche issue, we might not want to spend time on fixing this.

I'll close the issue for now, we can reopen in the future if we want to work on this issue.

[2021-01-03 20:08] #499 closed

[2021-01-03 20:11] mxaddict commented on #55
Closing issue for now, please feel free to re-open if anyone has additional info that can help in replicating the bug.

[2021-01-03 20:11] #55 closed

[2021-01-03 20:13] mxaddict commented on #528
The `src/univalue` and `src/secp256k1` source code was updated in #524, but lint check and subtree was not added.

[2021-01-03 20:13] #528 closed

[2021-01-03 20:14] mxaddict commented on #90
I think we can close this now that we have mnemonic key support

[2021-01-03 20:14] #90 closed

[2021-01-03 20:15] mxaddict commented on #310
Not sure if we need this as it's in the main `README.md` file, closing for now.

[2021-01-03 20:15] #310 closed

[2021-01-03 23:29] mxaddict commented on #635
@sakdeniz I think we already have blockheight and blocks synced, which you can add to get the current block height of the peer (so no need to get bestblockhash?)

About the dirty version of the node, I don't think that nodes broadcast that currently, so we might have to update the network code to broadcast the git hash or dirty version name.

[2021-01-03 23:34] mxaddict commented on #741
Closing this as it no longer seems to be an issue with current master builds

[2021-01-03 23:34] #741 closed

[2021-01-03 23:41] mxaddict commented on #701
@chasingkirkjufell I think we can close this as I tested it on the master build and the warning shows when a node is staking with higher version number:

![image](https://user-images.githubusercontent.com/1060905/103491609-41a39a80-4e60-11eb-8afb-6683938d15d8.png)

[2021-01-03 23:43] mxaddict commented on #701
@chasingkirkjufell @aguycalled do you think we should add the pop up again? or should we stick with the warning message like we have now on the master branch code (I remember adding this message to the UI a while back, just not sure when I added it)

[2021-01-03 23:46] mxaddict commented on #645
@aguycalled I remember we worked on a fix for this, did we ever get it into master?

[2021-01-03 23:47] mxaddict commented on #645
I think this may have been fixed by #691

[2021-01-03 23:53] mxaddict commented on #645
I just tested this and seems to still report wrong balance.

Scenario tested:
1. Create new wallet (devnet)
2. Generate 1000 blocks
3. Run `getbalance` and `getbalance "*" 0` (values are the same)
4. Send coins to own address (sent 100 NAV to my own address from my own wallet)
5. Run `getbalance` and `getbalance "*" 0` (values are no longer the same)

![image](https://user-images.githubusercontent

[2021-01-03 23:58] mxaddict commented on #645
Found an even more extreme case:
![image](https://user-images.githubusercontent.com/1060905/103491950-8defda00-4e62-11eb-861a-d4f41898477a.png)

[2021-01-04 10:52] aguycalled commented on #701
We removed it because some systems were crashing and we were not able to replicate it.

Von meinem iPhone gesendet

[2021-01-04 11:53] aguycalled commented on #645
The use of accounts is deprecated, that’s why this command fails.

[2021-01-04 16:02] #707 closed

[2021-01-04 16:03] #716 closed

[2021-01-04 16:04] mxaddict commented on #645
I see, should we maybe remove the account support? I remember accounts being deprecated for a few years now.

[2021-01-06 01:27] chasingkirkjufell opened #755 "[RPC] voting filter for listconsultations not working"
the rpc command of listconsultations "voting" does not correctly filter the consultations

[2021-01-08 16:54] #755 closed

[2021-01-27 03:08] chasingkirkjufell opened #767 "Duplicate entry for public transactions"
Current master, public to public transactions show duplicate entries on the receiving wallet. Balance not affected. Just the transaction history.

Steps to replicate:
Start 2 devnet nodes.
Send coin from 1 node to another.

![image](https://user-images.githubusercontent.com/38635377/105937103-80b9ab80-601a-11eb-8fdc-3ecef3879277.png)

[2021-01-27 04:23] chasingkirkjufell opened #768 "Transaction amount in popup window incorrect"
When substract fee from amount is checked ,the pop up window for tx confirmation does show substract fee from amount. The actual tx is correct but the display is wrong.

Steps to replicate:
Send a tx with substract fee from amount box checked

![image](https://user-images.githubusercontent.com/38635377/105942437-db580500-6024-11eb-9d71-e95c1187c15d.png)

[2021-01-29 16:49] aguycalled opened #769 "Navcore 6.0 Possible Display Bug On Windows 10"
Reported by user:

Navcore 6.0 Possible Display Bug On Windows 10: While operating a 2018 Lenovo 920 Yoga Laptop, with the display is set at 3840x2160 (shows as "recommended" setting) and the size of the text and apps is set at 300% (also "recommended" setting), the seed words to create a new wallet do not show. To correct this the user has to close the installation and change the text size settin

[2021-01-29 18:31] mxaddict commented on #769
Is the text issue only on the seed step? Or on the whole wallet? I remember
fixing a font size issue before on the home screen of the wallet.

On Sat, Jan 30, 2021, 00:49 alex v. <notifications@github.com> wrote:

[2021-01-29 22:28] aguycalled commented on #769
reply from the user:

It's in the step where it asks users to write down the seed words and in the step where the user is asked to enter the seed words as confirmation.  I don't remember seeing it in the prior steps.

[2021-02-01 21:49] #767 closed

[2021-02-01 22:54] #768 closed

[2021-02-03 13:16] francisjyap opened #779 "Navcoin Core wallet crashed"
I just noticed that navcoin-core crashed, throwing this error message:
[code]

Provided below are the debug.log files from both servers.

Version: NavCoin version v6.0.0.0-2a4d0a9c-dirty
OS: Ubuntu 20.04

Debug Log Dumps:
[debug-03-02-2021.log](https://github.com/navcoin/navcoin-core/files/5918622/debug-03-02-2021.log)
[debug-03-02-2021-de.log](https://github.com/navcoin/navcoin-core/files/5918623

[2021-02-03 19:33] aguycalled commented on #779
Hi!

Would you be able to reproduce the crash running the binary together with the symbols through gdb?

The backtrace would help to debug what happened.

You'd need the dbg files from the -debug.tar.gz to be on the same folder as the binaries.

[code]

Then `run` and `bt`  when the crash.

Please post as an answer here the output of `bt`.

[2021-02-04 05:41] francisjyap commented on #779
Hi,

Sure, i'll try this out. I'll post the logs when it does crash again.

[2021-02-18 22:47] aguycalled opened #793 "Cold Staking with multisig as spending key is non standard"
Cold Staking with multisig as spending key is non standard and not relayed on mainnet.

[2021-02-24 01:07] skironDotNet opened #800 "NAV 6.0.2 QT stuck at time sync"
Linux Mint 19.3 (Ubuntu 18.04)

2021-02-24 01:04:04 Navcoin version v6.0.2.0-0e69844e
2021-02-24 01:04:04 InitParameterInteraction: parameter interaction: -whitelistforcerelay=1 -> setting -whitelistrelay=1
2021-02-24 01:04:04 GUI: Could not parse stylesheet of object 0x5579b13de860
2021-02-24 01:04:04 INFO: Updating prices
2021-02-24 01:04:04 INFO: Automatic price update set to 300000ms
2021-02-2

[2021-02-24 02:58] mxaddict commented on #800
We have a PR that addresses this issue, might be in next release.

On Wed, Feb 24, 2021, 09:07 Pawel Cioch <notifications@github.com> wrote:

[2021-02-24 04:14] #800 closed

[2021-02-24 04:14] mxaddict commented on #800
@skironDotNet the fix for this is now merged into master branch, should be included in next release.

[2021-02-24 04:15] mxaddict commented on #793
So this issue is fixed by pr #794 ?

[2021-02-24 04:16] mxaddict commented on #769
I saw another user mention this issue on discord, I'll see if I can't get a PR that fixes this ready

[2021-02-24 15:41] aguycalled commented on #793
yep

[2021-02-24 15:41] #793 closed

[2021-02-26 08:26] chasingkirkjufell opened #803 "xNAV tx history duplciated"
This is an incoming tx. Tx history is duplicated. Swapping within the wallet shows correct history so only incoming txs are duplicated.

![image](https://user-images.githubusercontent.com/38635377/109275054-d5974000-77d9-11eb-8374-585a3cff07ea.png)

![image](https://user-images.githubusercontent.com/38635377/109275068-dc25b780-77d9-11eb-9d79-bc0c19c1428a.png)

[2021-02-26 08:29] aguycalled commented on #803
need to check TransactionRecord::decomposeTransaction

[2021-03-02 18:07] bocyaj opened #807 "excessive logging in error.log when wallet locked with xNAV balance"
I noticed that when my wallet is locked and has an xNAV balance, the following errors are generated in the error.log
" ERROR: AggregationSession::BuildCandidateTransaction: BLSCT keys for subaddress not available (is the wallet unlocked?)"

This message is repeated about 100 times per minute till I unlock the wallet for staking/mixing.

I don't think this message should be considered an error and

[2021-03-02 19:01] bocyaj opened #808 "remove blsct logs from debug.lg by default"
I notice there are quite a lot of logs within debug.log in regards to the coin mixing process:

_"
2021-03-02 06:59:49 blsctblindingkeypool return 15
2021-03-02 06:59:49 blsctblindingkeypool return 20
2021-03-02 06:59:49 blsctblindingkeypool return 23
2021-03-02 06:59:49 blsctblindingkeypool return 22
2021-03-02 06:59:49 blsctblindingkeypool return 16
2021-03-02 06:59:49 blsctblindingkeypool retur

[2021-03-02 20:40] bocyaj opened #810 "Coin Mix count column in coin control not tracking properly."
I have had a bunch of xNAV inputs mixing for a few days and have noticed that the 'Mix Count' column in the coin control window is not properly tracking the number of times an input has been mixed.

I am running Windows 10 64-bit wallet version 6.0.2.

![image](https://user-images.githubusercontent.com/19207801/109709273-4b98ff80-7b6a-11eb-8f9d-7f12a767e7e6.png)

I always transfer round number amo

[2021-03-02 21:30] bocyaj opened #811 "Add encrypted message details of xNAV transactions in transactions details page."
I would like to request that the encrypted message contents of an xNAV transfer be included in the transaction details page in the QT wallet GUI.

![image](https://user-images.githubusercontent.com/19207801/109717764-7be59b80-7b74-11eb-94b6-e2a5aeab0c28.png)

Thanks.

[2021-03-02 22:07] bocyaj commented on #811
I just noticed that the 'transation fee' is showing the amount I transfered and the 'debit' is showing the tx fee i paid.
Also see two listings for 'Debit'.

[2021-03-06 22:09] chasingkirkjufell opened #812 "Qt Gui for getnewprivateaddress"
A Reddit post asked that if a button can be added so users can get new private addresses.

https://www.reddit.com/r/NavCoin/comments/lx7kro/is_the_receive_xnav_address_always_the_same/

[2021-03-07 06:49] bocyaj commented on #810
Coin mix count seems to be working properly now.  I suspect either repairing wallet or restoring from mnemonic phrase resets the counters.
Will confirm when i get a chance.

[2021-03-11 00:12] chasingkirkjufell opened #814 "Multi transaction in same block failed"
This is crreated to log the issue reported by sakdeniz on discord.

When 2 transactions are sent within a short span, the 2nd one would fail.

2021-03-02 18:01:13 AcceptToMemoryPool: FAILED to add txn CTransaction(hash=65e6aaf45dc8796f3c166b79ceef424eb1d2d782e9d49cc77770aea832ba2470, nTime=1614708072, ver=3, vin.size=1, vout.size=2, nLockTime=22840), strDZeel=, vchTxSig= vchBalanceSig=)
    CTxIn(

[2021-03-11 00:14] chasingkirkjufell commented on #779
@francisjyap were you able to replicate the crash with gdb?

[2021-03-11 15:11] aguycalled commented on #808
fixed in #809

[2021-03-11 17:34] #807 closed

[2021-03-14 04:00] bocyaj commented on #810
I confirmed coin-mix count is restored correctly after importing wallet using mnemonic phrase.

[2021-03-14 04:35] edhosix commented on #312
Test

[2021-03-14 13:30] mxaddict commented on #312
Test received 👍

[2021-03-19 02:07] #803 closed

[2021-03-26 03:03] chasingkirkjufell opened #822 "coin control outputs are not used"
When selecting an input through the coin control, the actual input used is not the selected one

[2021-04-01 21:15] Lew-Rockwell-Fan opened #825 "gpg sig for navcoin-6.0.2-x86_64-linux-gnu.tar.gz?"
I suggest that the sha256sums on this page
https://github.com/NAVCoin/navcoin-core/releases/tag/6.0.2
be labeled "sha256sums" instead of just "hashes". I see nothing like a gpg signature for the hashes or navcoin-6.0.2-x86_64-linux-gnu.tar.gz. I'd feel a lot better about it if it were signed with a signature that could be verified with multiple public keyservers.

[2021-04-08 06:11] hash512-navcoin commented on #234
Can't anyone create a payment request to the community fund and once funded the fund will be "paid" to the community fund.  This approach would require no change and the vote would be on a payment of funds to the community fund just like any other payment request.

[2021-04-08 06:29] chasingkirkjufell commented on #234
unscheduled creation of supply could be dangerous. unless you meant the funds are funded by cfund, but then you are just paying yourself.

[2021-04-08 06:42] hash512-navcoin commented on #737
How about this is defined by JSON and parsed at startup
{"reward":[{"block":0,"CFUND":0.5,"STAKE":2}]}
The above would be the initial definition based on the new scheme.  The 0 would just mean from when current staking rewards started.

It would allow a reward scheme to be built such as the below example in JSON and a maximum supply hard limit set
{"reward":[{"block":0,"CFUND":0.5,"STAKE":2},{"blo

[2021-04-08 06:51] hash512-navcoin commented on #234
No I am talking about a proposal that has allocated funds and hence locked them up but the payout request has not proceeded.  You then create a payout request to the community fund address releasing funds prior to the expiry date on the proposal that has locked the funds.  The supply already exists in the community fund and is being paid back to the community fund there is no change in supply.

[2021-04-08 15:57] aguycalled commented on #737
first of all, what you propose is out of the topic of this issue. here OP proposed to combine two consensus parameters into one, which makes sense, as currently the approval of one of the inflation related parameters does not imply the approval of the other while both affect the inflation and normally people would vote with both on mind.

for what you propose, id suggest to gather enough support f

[2021-04-09 00:13] hash512-navcoin commented on #737
There is no fork here.  The change combines community fund and staking rewards into a single JSON defined parameter and staking reward and community fund amounts remain unchanged.

The example of the possibility that using JSON allows offering tiered reward and community fund amounts based on block is an example of what this change facilitates.  Such a change would as a minimum require a consultat

[2021-04-12 19:17] aguycalled opened #828 "Address index records wrong address for p2sh outputs"
[code]

[2021-04-12 19:22] aguycalled commented on #825
you can find signatures for the different gitian builds for each commit here:

https://build.nav.community/binaries/master/gitian.sigs/

signed with https://keys.openpgp.org/vks/v1/by-fingerprint/1BF9B51BAED51BA0B3A174EE2782262BF6E7FADB (builder@nav.community)

[2021-04-14 08:43] #811 closed

[2021-04-14 08:43] aguycalled commented on #810
closing. reopen if issue still exists

[2021-04-14 08:43] #810 closed

[2021-04-14 08:43] #808 closed

[2021-04-15 13:19] yraen69 opened #830 "Open Alias browser support issue"
Go here in Firefox https://openalias.nav.community

Try create an alias it fails, suspect Javascript on the site doesn't work for that browser? Works fine in Chrome.

[2021-04-15 13:24] yraen69 opened #831 "Open Alias Debug Window Sign to create new alias fails"
Open NavCoin Core Wallet, follow the instructions here https://openalias.nav.community/#/verify-new-address

- Open wallet
- Open Debug Window
- Paste in the cmd signmessage address alias@nav.community
- Returns - Error: Wallet is unlocked for staking or mixing only. (code -13)

OS is Windows 10.

All you have under Settings is 'Unlock Wallet for Staking and Mixing'.

Cannot figure out for the lif

[2021-04-15 15:08] bocyaj commented on #831
Keep reading the instructions, it shows how to unlock wallet right below the step you stopped on ;-)

[2021-04-15 16:01] chasingkirkjufell commented on #831
I think we could have a GUI button for wallet unlocking though.

[2021-04-15 16:47] aguycalled commented on #830
what step is not working for you on Firefox?

[2021-04-16 10:34] yraen69 commented on #830
![OpenAlias_Error_FF](https://user-images.githubusercontent.com/17959135/115012287-3ee62600-9ee2-11eb-8e64-145106ca7ad4.png)
![OpenAlias_Error_FF_002](https://user-images.githubusercontent.com/17959135/115012292-40175300-9ee2-11eb-9ba6-1c825446c8d7.png)

Firefox logs a console error about CORS for whatever lookup your site is doing to Google? Chrome no issues, being Google owned that probably make

[2021-04-16 10:43] yraen69 commented on #831
Understood, did end up making it work in the end but agree a debug window obscure cmd to unlock your wallet for creating a friendly email like alias doesn't feel right for adoption... no idea if you want to close this off and raise it as a feature request but I'd vote to add a unlock wallet option to the GUI.

[2021-04-26 18:54] #822 closed

[2021-04-26 18:55] #748 closed

[2021-04-28 18:08] #814 closed

[2021-05-31 08:08] ML-NAV opened #844 "Coins listed as immature after staking"
After staking the coins are listed as immature in the gui, even after the 'immature' period.

Normaly the coins are 'normal' after the immature period.

v6.1.0.0-e1761428

Windows 10 64-bit

[2021-06-02 16:40] skironDotNet opened #846 "wallet stuck at [NTP] Starting clock sync..."
Linux Mint 19
Navcoin Core 6.1

Always had this issue at any version, any ideas how to fix?
Linux permissions?

[2021-06-02 17:30] mxaddict commented on #846
Does this issue persist with the lastest build?

Clock sync on latest build should timeout after failed attempt and continue
without ntp clock sync.

On Thu, Jun 3, 2021, 00:40 Pawel Cioch ***@***.***> wrote:

[2021-06-03 03:16] skironDotNet commented on #846
I've got an impression the app just froze, and had to force quit it

[2021-06-03 22:14] skironDotNet commented on #846
I was able to run on windows from VM

Got back to linux,
Tested if I can talk to NTP from terminal
`ntpdate -q time3.google.com`

This was fine, so

added those two to navcoin.conf
[code]

Log:

2021-06-03 22:09:51 [NTP] Starting clock sync...
2021-06-03 22:09:51 A connection could not be made to any ntp server. Please ensure you system clock is correct otherwise your stakes will be rejected by th

[2021-06-03 23:08] skironDotNet commented on #846
I see no problem on Ubuntu 18.04.5 LTS, so something is not right with my Linux Mint, maybe firewall vs DNS discovery of NTP servers.
I guess it's up to me to figure it out

[2021-06-12 04:23] yraen69 opened #848 "Navcoin Core Wallet - Error Reading from Database, Shutting Down"
Open wallet, starts syncing chain. Crashes with "Error Reading from Database, Shutting Down"

Wallet to open and sync.

![image](https://user-images.githubusercontent.com/17959135/121764735-a930e500-cb78-11eb-8af3-ff84fa289bfc.png)

Every time I open the wallet.

6.1.0.0 from official website

Windows 10, Ryzen 3800XT, SSD disk

Debug Log

2021-06-12 04:12:25 Peer=30 is stalling block download, di

[2021-06-13 10:09] yraen69 commented on #848
Just FYI as well, I can't get to the FILE -- Repair option suggested here https://info.navcoin.org/navcoin-core/repair-your-wallet/ as the wallet crashes basically as soon as the sync progress screen appears.

[2021-06-14 10:12] yraen69 commented on #848
So I managed to get to File --> Repair wallet... had to load up my CPU's with a stress test at 100% load so the entire machine was running slowly... gave me just enough time to get to the repair option before the wallet crashed. Popped up the OK message to start repairing and off it went... issue fixed. Still not a great user experience.

[2021-06-14 11:36] aguycalled commented on #848
from the error log you attach, your issue was a corruption of the chainstate db. this is fixed with a resync/bootstrap

repairing the wallet has nothing to do with the issue you comment. i can’t see the connection

[2021-06-16 11:14] yraen69 commented on #848
Hi aguycalled,

thought my experience was pretty clear, end user wise it wasn't great. Yes it was a chain corruption issue. If you look at my screenshot the error box pops up within a couple of seconds of the wallet finally loading. All you can do is click OK and the wallet crashes.

This is BAD. You cannot get to FILE --> Repair Wallet.

I had to load up all of my CPU cores to make my machine run

[2021-06-16 14:37] aguycalled commented on #848
i understand what you mean, but that would not be a valid solution for issues like yours. clicking repair wallet was not what solved your database corruption, as wallet repair only manipulates walelt.dat while in your case it was the chainstate/* databases what was corrupted

chainstate corruption is only solved by resyncing/reindexing/bootstrapping

[2021-06-18 13:20] yraen69 commented on #848
Hi aguycalled,

sure do whatever you like with this ticket. My fix was to click File --> Repair Wallet. That's all I did and about an hour later my wallet worked again.

I stand by my recommendation, that error should not be fatal in my original screenshot it should instead prompt you to repair whatever is broken, I don't particularly care if it's the wallet or the chain, as an end user I shouldn'

[2021-06-18 21:04] aguycalled commented on #848
i agree with you about the importance of improving user experience.

From my point of view the solution is more about educating users who are non-tech savvy in using light wallets instead of running full nodes. A full node will always require technical maintenance - someone who is not skilled enough to run a full node will eventually feel disappointed and have a bad experience, and this not only a

[2021-06-19 02:04] yraen69 commented on #848
Thank you for your concise and excellent feedback, I'm glad to see the future direction and what's being worked on for light wallets. Agree it's the future. Your time is appreciated! Long time NAV supporter myself, I think it's got a great future.

Given what you've said here I'll close this issue and look forward to what's coming up in the future!

[2021-06-19 02:04] #848 closed

[2021-06-28 10:37] mntyfrsh commented on #846
Linux Mint uses systemd-timesyncd for time synchronization. Seems ntpd is being deprecated across multiple distributions by systemd-timesyncd and chrony. Since we cannot continue to rely on ntpclient working correctly on all Linux systems we'll have to account for how to sync time when alternatives are used for time sync on Linux hosts that use alternative time sync services.

https://forums.linux

[2021-08-26 10:20] sakdeniz opened #853 ""getbalance" RPC method only shows public balance"
I sent xNAV to a newly created wallet. However, I noticed that when I call the "getbalance" RPC method, it only shows the public balance.

An update can be made to display balances under 3 different headings such as Public balance, Private balance and Total balance.

[2021-11-21 23:33] mxaddict commented on #701
Closing, feel free to re-open if needed

[2021-11-21 23:33] #701 closed

[2021-11-21 23:34] mxaddict commented on #779
Closing, feel free to re-open if needed

[2021-11-21 23:34] #779 closed

[2021-11-22 00:39] mxaddict commented on #853
@sakdeniz I think `getbalance` is deprecated and should be removed in the future, maybe use `getwalletinfo` instead?

[2022-01-05 07:50] chasingkirkjufell opened #907 "xNAV transaction fails when subtracting fee from amount"
send nav or xnav to an xnav address will fail if subtract fee from amount is selected on core wallet latest commit 346cc66d
@mxaddict @aguycalled

![image](https://user-images.githubusercontent.com/38635377/148180345-5e6e3155-971b-4d61-8a93-a61872ee04c4.png)

[2022-01-05 08:06] mxaddict commented on #907
Does this only happen on latest master? Or also on 7.x releases?

On Wed, Jan 5, 2022, 15:51 chasingkirkjufell ***@***.***>
wrote:

[2022-01-05 08:06] chasingkirkjufell commented on #907
I can only say it failed on latest master and the 7.0.1 release

[2022-01-08 11:03] Nihche opened #909 "Balance display problem after getting staking reward."
After getting the stake reward, last transaction + some of stake reward shows under Immature and it stays like that(even after 11 hours) until i reset the core wallet.

Before staking reward(i photoshoped balance numbers for privacy reasons):
![navb](https://user-images.githubusercontent.com/97336295/148640082-743ff9b3-1653-4546-a613-42806173baf7.PNG)
After staking reward:
![navc](https://user-ima

[2022-01-08 12:39] mxaddict commented on #909
We have seen this issue before, its related to cache values of the balance
displayed.

I'm still working on a fix for this issue.

On Sat, Jan 8, 2022, 19:03 Nihche ***@***.***> wrote:

[2022-01-18 17:13] aguycalled opened #911 "[DOTNAV] Add resolve subdomains option to resolvename"
Add a boolean option to `resolvename` so it also shows the different subdomains of a name.

Example:

`resolvename navcoin.nav` Output:

[code]

`resolvename Navcoin.nav true` Output:

[code]

[2022-01-21 11:54] mxaddict commented on #911
@aguycalled I'm working on this now

[2022-01-21 11:56] mxaddict commented on #911
@aguycalled I think maybe something like this would be easier to use?

[code]

[2022-01-22 06:59] mxaddict opened #914 "QT Wallet crashes on linux system that can't handle system notifications"
Getting this backtrace on GDB
[code]

[2022-01-27 13:12] #911 closed

[2022-02-03 16:26] aguycalled opened #919 "Implement an index which tracks the last UTXO of each NFT"

[2022-02-03 16:26] aguycalled opened #920 "Show last UTXO of an NFT through RPC command"

[2022-02-04 01:11] mxaddict commented on #914
This should now be fixed in latest master

[2022-02-04 01:11] #914 closed

[2022-02-04 01:11] mxaddict commented on #853
Closing for now since `getbalance` RPC is deprecated

[2022-02-04 01:11] #853 closed

[2022-02-04 01:14] mxaddict commented on #909
#917 fixes this issue and is now merged into master branch

[2022-02-04 01:14] #909 closed

[2022-02-04 01:15] mxaddict commented on #645
I think `getbalance` is deprecated in favor of `getwalletinfo`

[2022-02-04 01:15] #645 closed

[2022-02-04 01:16] mxaddict commented on #569
Closing for now as I think this may have been an isolated issue on the test system

[2022-02-04 01:16] #569 closed

[2022-02-04 01:16] mxaddict commented on #568
Closing for now as I think this may have been an isolated issue on the test system, please reopen if it happens again

[2022-02-04 01:16] #568 closed

[2022-02-04 01:17] mxaddict commented on #488
@aguycalled  @proletesseract Do you think this is still needed?

Current sync speed is decent compared to when we were using the bootstrap.

I think we can just optimize the sync speed even more and completely remove the bootstrap option.

[2022-02-04 01:18] mxaddict commented on #246
I think this might be out of the scope of the core wallet and should be done via a tool that uses core wallet tx history.

[2022-02-04 01:18] #246 closed

[2022-02-05 13:37] sakdeniz opened #923 "Add is_mine property to listtokens rpc method"
Currently `listtokens `method returns all available tokens in the blockchain.

I think it is necessary to add the `is_mine` attribute to every token object so that we can understand which of these tokens belongs to the wallet owner.

Sample :
[code]

[2022-02-05 13:44] sakdeniz opened #924 "Add listnames rpc method"
Currently, there is no rpc method where we can see the list of registered names. I think it is necessary to add the `listnames` rpc method.

[2022-02-05 17:24] mxaddict commented on #924
Just list all dotNAV names?

[2022-02-05 17:24] mxaddict commented on #923
I can work on this unless @aguycalled  is already working on it.

[2022-02-05 17:30] sakdeniz commented on #924
List all dotNAV names with subdomains and key, value pairs like resolvename.

[2022-02-05 20:45] aguycalled commented on #924
listing all the names with their entries can be a lot of data to transmit, might be better to only do it with the names imo

[2022-02-06 07:12] sakdeniz commented on #924
So, its better to add mine parameter for filtering user owned domains or restrict method to only user owned domains with their entries.

[2022-02-06 08:39] aguycalled commented on #924
I think even with the filter, it is more efficient to only show the names, letting the client to later resolve individually if needed.

[2022-02-06 08:44] sakdeniz commented on #924
If it's going to be a serious performance issue, what you said might make sense. It would be better to be able to get all domains and subdomains information at once if there is no delay.

[2022-02-06 16:27] b43kd00r opened #925 "test"
test

[2022-02-06 16:27] #925 closed

[2022-02-06 16:33] b43kd00r opened #926 "Subdomain takeover / Pwned / Owned"
Severity: **Critical**

Subject:
Subdomain takeover / Pwned / Owned [ http://docs.nav.community/ ]

Description:
http://docs.nav.community/ pointing to an github pages and add CNAME, which lead to takeover domain via add custom domain to github account to claim domain,

Proof of concept:
http://docs.nav.community/

Steps to reproduce:
1)404
There isn't a GitHub Pages site here.

2)Click Create rep

[2022-02-07 08:30] aguycalled commented on #926
Hi. Thanks for reporting this.

This repository is used for `navcoin-core` exclusively.

Would you mind reaching us at `disclosure@navcoin.org` to further discuss this?

[2022-02-07 08:30] #926 closed

[2022-02-07 08:46] b43kd00r commented on #926
Hello Team,
Got this error.
The response from the remote server was:
550 5.1.1 <[disclosure@navcoin.org](mailto:disclosure@navcoin.org)>: Recipient address rejected: User unknown in virtual mailbox table.

[2022-02-07 08:53] aguycalled commented on #926
The email works for me.

[2022-02-07 09:38] b43kd00r commented on #926
Hello Team,
Cheers 🍻I’m no longer able to reproduce the bug.
Btw I think because your user is in list of virtual mailbox table.

[2022-02-07 09:39] b43kd00r commented on #926
Now it works.
Thanks

[2022-02-07 14:42] aguycalled opened #927 "Add support for incoming web socket connections in navcoin-core"

[2022-02-09 02:59] aguycalled commented on #488
i think we can close this by now

[2022-02-09 03:24] #488 closed

[2022-02-09 06:38] mxaddict commented on #919
@aguycalled should the index be toggleable or always on? Should it index all nft or just owned ntfs?

[2022-02-09 07:17] aguycalled commented on #919
ideally toggeable (like addressindex or txindex), and should trak all the nfts

[2022-02-09 07:59] #825 closed

[2022-02-09 07:59] #737 closed

[2022-02-10 22:27] #923 closed

[2022-02-13 03:54] mxaddict commented on #924
@sakdeniz  I'm working on this now along side the nftindex

[2022-03-08 20:34] skironDotNet opened #940 "Unable to build from master on Ubuntu 18.04"
used your script to build navcoin on Ubuntu 18.04
All runs ok... well had to add 1 lib by hand https://github.com/navcoin/navcoin-dev-tools/issues/6

#install unbound ok
autogen, configure all ok, but fails on `make`
[code]

![image](https://user-images.githubusercontent.com/2981715/157319944-eae6f071-0a60-460c-8b20-64d763b1fa8d.png)

Any idea? Should I build from release tag? or something is brok

[2022-03-08 21:29] skironDotNet commented on #940
Same error when build from Tag 7.0.1 which is your release code. How to build?

[2022-03-08 21:31] aguycalled commented on #940
https://doc.nav.community/get.html

[2022-03-08 21:39] mxaddict commented on #940
I think you need to run this: `sudo apt -y install build-essential libtool autotools-dev automake pkg-config git cmake libattr1-dev python3-dev` Sent from Mail for Windows From: Pawel CiochSent: Wednesday, 9 March 2022 4:34 amTo: navcoin/navcoin-coreCc: SubscribedSubject: [navcoin/navcoin-core] Unable to build from master on Ubuntu 18.04 (Issue #940) used your script to build navcoin on Ubuntu 18.

[2022-03-09 16:35] skironDotNet commented on #940
@mxaddict I have all those libs installed, it's not about that.

I'll ping you back once I test the guide from @aguycalled

[2022-03-09 19:44] skironDotNet commented on #940
@aguycalled your guide helped. The key part for Ubuntu 18 is
![image](https://user-images.githubusercontent.com/2981715/157520732-11ddc687-b541-4591-bc0a-d4fd31832eaf.png)

This note could be presented as warning, because without it can't really build.
Also would be good idea to update in git documentation with that. And maybe the script https://github.com/navcoin/navcoin-dev-tools/blob/master/ubu

[2022-03-09 19:46] aguycalled commented on #940
would you like to take this task and update [https://github.com/navcoin/navcoin-dev-tools](https://github.com/navcoin/navcoin-dev-tools/blob/master/ubuntu-18.04-navcoin-core-dev-setup.sh)? @mxaddict

[2022-03-09 20:44] skironDotNet commented on #940
Seems like I spoke too early... So it was building and building but ended same way as start with older CMAKE

![image](https://user-images.githubusercontent.com/2981715/157532366-d7a02d5d-de3a-44c8-bbfa-1136f28a80e2.png)

Are you sure there are no errors in Makefile? but then it makes no sense because you wouldn't be able to make either.
I could try Ubuntu 20...

[2022-03-09 20:45] aguycalled commented on #940
I see no error in the screenshot. you should have the binaries in `src/navcoin-cli` and `src/qt/navcoin-qt`

[2022-03-09 21:01] mxaddict commented on #940
This looks like the build worked fine.

try running the gui wallet with `./src/qt/navcoin-qt -devnet`

[2022-03-09 21:51] mxaddict commented on #940
@aguycalled  @skironDotNet  could you test this PR and see if it's working as I expected: https://github.com/navcoin/navcoin-dev-tools/pull/7

[2022-03-09 21:51] mxaddict commented on #940
This PR changes the build script to work with both 18.04 and 20.04

[2022-03-09 22:38] #919 closed

[2022-03-09 22:38] #920 closed

[2022-03-10 01:56] skironDotNet commented on #940
Ok, sorry, I thought this is an error https://github.com/navcoin/navcoin-core/issues/940#issuecomment-1063354190 didn't check the `src/qt` folder. It got build.

Thank you for your support, and sorry for unnecessary confusion.

[2022-03-10 02:06] skironDotNet commented on #940
@mxaddict regarding https://github.com/navcoin/navcoin-dev-tools/pull/7 I don't enable debug and disable tests to make build faster for me. Tests are good for you to test after new changes I'm assuming

My core part of build script is this (after having all needed libs installed and pulled git repo)
[code]

So needed updated CMAKE version on 18.04 as I mentioned here https://github.com/navcoin/nav

[2022-03-10 02:45] mxaddict commented on #940
I've updated the script in dev-tools repo to use newer cmake.

If you have a fresh ubuntu 18.04 vm, maybe give it a shot.

[2022-03-18 11:16] MikeW83 opened #942 "Running own node: Waiting for the node to be ready..."
Hello guys!

I have a problem. There iare so many guides but nothing which is really up to date. I want to run a node without cold staking. I have installed everything on Ubuntu 20.04 with the script from https://doc.nav.community/get.html without Electrum.
I think it's correct until this. But now it's always saying "Waiting for the node to be ready" since hours.

What I'm doing wrong. When the no

[2022-03-18 14:16] mxaddict commented on #942
Is the node syncing with the network?

On Fri, Mar 18, 2022, 19:16 Michael ***@***.***> wrote:

[2022-03-18 14:19] MikeW83 commented on #942
yes... I have tried to use navcoin-cli from source directory because elsewhere there was nothing to find. I have entered my passphrase for my wallet and activated staking and it's working... In the meantime I have rebootet the server because there was nothing to find.
And within the debug.log there where always listed actual blocks.

[2022-03-18 14:19] aguycalled commented on #942
what do you see above Waiting for the node to be ready.. ?

You should have something descriptive like this:

<img width="292" alt="image" src="https://user-images.githubusercontent.com/24814046/159019902-8212ebff-5f45-4ad3-9813-c78ad8ea97c0.png">

[2022-03-18 14:20] aguycalled commented on #942
There is an alias created on `.bashrc` so you should be able to use just `navcoin-cli`

[2022-03-18 14:20] MikeW83 commented on #942
Yes, and then it continues with "Waiting for the node to be ready..." And nothing happens.

[2022-03-18 14:21] MikeW83 commented on #942
No is not. I think the link is created when the script completes. But it has never completed. Starting and stopping the server is working with systemctl.

[2022-03-18 14:22] aguycalled commented on #942
Trying it myself now to see if there is a bug detecting if the daemon init completed.

[2022-03-18 19:55] aguycalled commented on #942
Patched some bugs on the script. Could you try it again? @MikeW83

[2022-03-18 21:27] MikeW83 commented on #942
Sure, I will give it a try.

[2022-03-18 21:52] MikeW83 commented on #942
I stopped navcoind.service and ran the script like I've done before from the URL in the documentation. Also without Electrum.

and this is the debug.log

and after that the service restarted and then again:

and now it keeps showing this in console:

![image](https://user-images.githubusercontent.com/35097389/159088361-5eda1048-e0cb-4b5a-92d2-730051493020.png)

[2022-03-18 22:07] MikeW83 commented on #942
I have deleted the directories chainstate, blocks and database and then script has finished.

[2022-03-19 10:46] aguycalled commented on #942
so is it all working now? should I close the issue?

[2022-03-20 06:41] MikeW83 commented on #942
Hello. Yes, now it's working. Thank you.

[2022-03-20 06:41] #942 closed

[2022-04-14 07:43] prashantbarge22 commented on #924
Might be a solution
Why don't maintain a cookie in the local Storage in the client, and regularly update it after a interval?

[2022-04-14 08:59] mxaddict commented on #924
This patch has been updated to only list your own domains/subdomains, so it won't be too many to list.

[2022-04-14 09:02] prashantbarge22 commented on #924
Can you please help me with starting this project in windows as i am unable to do it

[2022-04-14 14:10] mxaddict commented on #924
I'm not sure windows will be a good Idea for compiling this project, I would suggest running a linux VM.

I would suggest either VM Ware Player or Virtual Box, then install Ubuntu 20.04

[2022-07-01 21:56] mxaddict opened #946 "Gitian build failing on master build"

[2022-07-03 19:54] #946 closed

[2022-08-10 08:56] mxaddict opened #950 "Add `votesExcluded` to RPC commands that have `excludedVotes`"
This is to help with the navexplorer showing excludes properly

[2022-08-10 10:05] mxaddict commented on #950
Closed in favor of modifying the indexer

[2022-08-10 10:05] #950 closed